	
<section class="footer border-top">
    <div class="container">
   <div class="row">
        <div class="col-lg-4 pt-3">
            <h5 class="footer-title">About</h5>
               <p class="text-justify">
                Over the years Tube Tech have grown steadily to become leading Finned Tube and Plain Tube supplier with a plant capacity to produce 55000 Meters Finned Tubes and 
                about 20000 Kgs Copper and Copper Alloy Tubes + Lacs of Tubular Products per month...<a routerLink="/about/about-company">Read More</a>
                
                </p>
       </div>
       
       
        <div class="col-lg-4 pt-3">
            <div class="row">
                 <div class="col-lg-5  ">
            <h5 class="footer-title">Quick Links</h5>
                     
   <ul class="pl-4">

       <li><a routerLink="/about/about-company">About</a></li>
           <li><a routerLink="/quality">Quality</a></li>
     <li ><a routerLink="/infrastructure">Infrastructure</a></li>
     <li ><a routerLink="/sitemap">Sitemap</a></li>





                                    
       </ul>	 
                 
                </div>
                
               <div class="col-lg-7 ">
            <h5 class="footer-title">Our Products</h5>
                                                 
       <ul class="pl-4">
        <li><a routerLink="/smooth-tubes/copper-tubes">Smooth Tubes</a></li>
        <li><a routerLink="/fin-tubes/finned-tubes-geometry">Fin Tubes</a></li>
       <li><a routerLink="/bending-fabrication/pipe-bends"> Bending & Fabrication</a></li>
       </ul></div> 
                
            </div> 
            
            
        
       
       
       </div>
       
       
        <div class="col-lg-4 pt-3">
<div class="address">
                       <h5 class="footer-title">Get in touch</h5>
                       <div class="address-grid">
                               <div class="address-left">
                                   <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 21px;" ></i>
                               </div> 
                               <div class="address-right">
                                   <p>Plot No.37, Dandekar Industrial Estate, <br>
                                        Old Satpati Road, Shirgaon, Palghar (West), <br>
                                        District. Thane - 401404. Maharashtra, India

                                    </p>
                               
                               </div>
                               <div class="clearfix"> </div>
                           </div>
                       
                
                       
                           
                           <div class="address-grid">
                               
                               <div class="address-left">
                                   <i class="fa fa-envelope" aria-hidden="true"></i>
                               </div>
                               <div class="address-right">
                                   <p><a href="mailto:info@starmi.co"> info@indiancopper.com</a></p>
                                   

                                   
                               </div>
                               <div class="clearfix"> </div>
                           </div>
                           
                           
                           
                       <div class="address-grid">
                               <div class="address-left">
                                   <i class="fa fa-phone" aria-hidden="true"></i>
                               </div>
                               <div class="address-right">
                                   <p><a href="tel:+919833432364" target="">
                                    +91 9322157397 / +91 9588654207

</a></p>
                               </div>
                               <div class="clearfix"> </div>
                           </div>    
                           
                           
                       </div>
       
       </div>
        
        
        </div>
   </div>
   
   </section>


 <footer class="p-1 bg-dark">
   <div class="container">
         
       <div class="row">
           
           <div class="col-lg-6 ml-auto text-white footer_text_left"><p>Copyright © 2020 Tube Tech Copper & Alloys Pvt. Ltd. | All Rights Reserved </p></div>
       <div class="col-lg-6 mr-auto text-white footer_text_right"><p>Designed & Developed by <a href="http://goradiainfotech.com" target="_blank">Goradia Infotech</a>  </p></div>



       
  
   </div> </div>
   <!-- /.container -->
 </footer>
