
<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>Copper Alloy Tubes</h1>
        </div>   
            </div>

    
</div>	
        
 </div>
    
          <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>

<li>Smooth Tubes</li>
    <li>Brass Tubes</li>
  <li>Copper Alloy Tubes</li>


</ul>


        
</div>	
        
 </div> </div>	
</header>


  <div class="container">
<div class="row">

   
<div class="col-lg-3">
<app-brasstubes-submenu></app-brasstubes-submenu>
 
</div>
   
   
<div class="col-lg-9">
	   
    <div class="row">
    
        <div class="col-lg-12">
        
        <img class="img-fluid rounded mb-3 " src="./assets/images/Copper-Alloy-Tubes.jpg"  alt="thumb"/> 
        
        </div>
        
        
        <div class="col-lg-6 align-self-center text-justify"> 
          


          </div>
        
  
    </div>
  
    
<p class="text-justify">
  Tube Tech offers its customers a range of competitively priced, assured quality copper alloy tubes complying with the latest specifications. Copper alloy tubes are manufactured in straight length and are characterized by high dimensional accuracy and excellent surface finish. The half hard tubes can easily be flanged and expanded. At Tube Tech the most critical sizes of copper alloy tubes which require closure dimensional control with specified mechanical properties and surface finish can be manufactured through careful and constant monitoring of the processes at every stage of the production. Because of their wide material and size range copper alloy tubes are widely used in almost all fields of industry. The most commonly used copper alloy tubes manufactured by Tube Tech are

</p>

<ul style="margin-left: 14px; padding: 0px; text-align: justify">
    
<li><strong>Brass Tubes </strong></li>
     
<li><strong>Cupro Nickel Tubes</strong></li>
  
  
  </ul>
    


    
    
    
</div>
   
   
   
   
   
</div>
</div>
