<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>Copper Fittings</h1>
        </div>   
            </div>

    
</div>	
        
 </div>
    
          <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
<li href="#">Smooth Tubes</li>
<li href="#">Copper Tubes</li>
  <li>Copper Fittings</li>


</ul>


        
</div>	
        
 </div> </div>	
</header>

<div class="container">
<div class="row">

   
<div class="col-lg-3">
    <app-copper-submenu></app-copper-submenu>

   
</div>
   
   
   
<div class="col-lg-9">
   
  <div class="row">
        <div class="col-lg-8">
       <img class="img-fluid rounded mb-3 img-thumbnail" src="./assets/images/Copper-fitting.jpg"  alt="thumb"/> 
      </div>
      
      
      <div class="col-lg-6 align-self-center text-justify"> 
        
        </div>
      

  </div>
  <h5>Copper Fittings</h5>
  
  <p class="text-justify">
We offer wide range of copper fittings which provide an economic and efficient method of changing directions in a wide spectrum of domestic and commercial applications ranging from air conditioning, refrigeration, heating, fluid distribution, air pressure lines and plumbing etc. Our fittings have no rough surfaces, present a neat appearance, heat more rapidly and provide better flexibility to the installer to install and join the copper tube at appropriate place. We manufacture copper fittings in a variety of standard sizes between 6.00 mm and 42.00 mm. The sizes are measured inside diameter (I.D). The most commonly used copper fittings manufactured by Tube Tech are grouped as under.
</p>

<ol style="margin-left: 14px; padding: 0px; text-align: justify">
  
 <li>
<strong>Elbows </strong>- Used to change the direction of the pipe and have a close radius to fit in the tightest possible space. The most commonly used elbows are 90 and 45 radius elbow. Many other varieties are available for specific requirements.</li> 
 <li>	
<strong>U Bends</strong> - Used to accommodate the return flow of the coolant and provides a 180 turn in a much smaller space. We manufacture both expanded as well as plain u-bends for condensers and evaporators.</li> 

 <li>
<strong>Couplings</strong> - Used to connect two identical size tubes together. The coupling used to connect two pipes of different diameter is called a reducing coupling.
</li> 	


     <li>
<strong>Tee</strong> - Tee is a fitting in the shape of a 'T' where the top of it is the continuous pipe run and the vertical section is a branch connected to it. This shape of fittings offers the most varieties than any other type.</li> 
<ol>
<li>It may be a reducing Tee when one end of the section is of smaller diameter that means unlike a standard Tee the reducing Tee do not have equally sized parts.
</li>
<li>It may be a cross Tee when it is used to connect four tubes or a    threaded Tee when the vertical section of it has female threads.
</li>



</ol>
  


  
  
  
  
  
  
  
  </ol>

  
<strong>Tube Tech offers you a complete line of copper fittings for plumbing available in sizes 15mm, 22mm, 35mm, 42mm.</strong>
<br>
<br>

  
  
  
  
</div>
   
   
   
   
   
   
</div>
</div>