	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1>Turbo Chill Tubes</h1>
			
			</div> 
				</div>


				

		
	</div>	
			
	 </div>
		
		
	<div class="container">
		
 <div class="row">
	 
<div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
<li>Fin Tubes</li>
<li>Turbo Chill Tubes</li>
	
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	
	
<div class="container">
 <div class="row">

	 
 <div class="col-lg-3">
    <app-sub-menu></app-sub-menu>
	 
</div>
	 
	 
	 
<div class="col-lg-9">
	
	
	<img class="img-fluid mb-3" src="./assets/images/TURBO-CHILL-TUBES.jpg" alt="integral-fin-tubes"/>
<p class="text-justify">	
  TURBO CHILL is an integral low fin tube provided with spiral ridges on the inside surface of tube. In a Turbo Chill Fin Tube, the inside fluid heat transfer capability is remarkably improved in comparison with the smooth in-tube type tubes. By the effects multiplied mutually by the tubes outside fins and inside spiral ridges a high coefficient for overall heat transfer is obtained. These parameters significantly contribute to the reduction in size of various freezing machines. Normally, Turbo Chill Tubes are generally supplied with 8 & 10 starts configuration; however, it can also be fabricated with other number of starts on request. These fin tubes are fabricated in alloy C 12200 to meet the chemical, mechanical and other test parameters of ASTM B 75 / B 359 and in alloy 70600 & 71500 to meet the chemical, mechanical and other test parameters of ASTM B 111 / B 359. BS EN, JIS and DIN standards are also available on request.
  
  
  
  
</p>	

		<h4>Fin Parameters:-</h4>
	
<div class="table-responsive">
	
	<table class="table table-striped table-bordered">
        <tbody><tr>
          <td  valign="top"> <strong >Tube Dia</strong></td>
          <td  valign="top"><strong>Thickness</strong></td>
          <td  valign="top"><strong>Fin Density</strong></td>
          <td  valign="top"><strong>Fin Dia</strong></td>
          <td  valign="top"><strong>Fin Depth</strong></td>
          <td  valign="top"><strong>Root Dia</strong></td>
          <td  valign="top"><strong>Thickness under    Fins</strong></td>
        </tr>
        <tr>
          <td  valign="top">19.05 mm</td>
          <td  valign="top">1.83 mm</td>
          <td  valign="top">19/22/26/40</td>
          <td  valign="top">18.80 mm</td>
          <td  valign="top">1.52 mm</td>
          <td  valign="top">15.76 mm</td>
          <td  valign="top">1.27    mm</td>
        </tr>
        <tr>
          <td  valign="top">19.05    mm</td>
          <td  valign="top">1.65    mm</td>
          <td  valign="top">19/22/26/40</td>
          <td  valign="top">18.80    mm</td>
          <td  valign="top">1.50    mm</td>
          <td  valign="top">15.80    mm</td>
          <td  valign="top">1.18    mm</td>
        </tr>
        <tr>
          <td  valign="top">19.05    mm</td>
          <td  valign="top">1.47    mm</td>
          <td  valign="top">19/22/26/40</td>
          <td  valign="top">18.80    mm</td>
          <td  valign="top">1.42    mm</td>
          <td  valign="top">15.96    mm</td>
          <td  valign="top">0.71    mm</td>
        </tr>
        <tr>
          <td  valign="top">19.05    mm</td>
          <td  valign="top">1.32    mm</td>
          <td  valign="top">19/22/26/40</td>
          <td  valign="top">18.80    mm</td>
          <td  valign="top">1.24    mm</td>
          <td  valign="top">16.32    mm</td>
          <td  valign="top">0.59    mm</td>
        </tr>
        <tr>
          <td  valign="top">19.05    mm</td>
          <td  valign="top">1.18    mm</td>
          <td  valign="top">19/22/26/40</td>
          <td  valign="top">18.80    mm</td>
          <td  valign="top">0.83    mm</td>
          <td  valign="top">17.14    mm</td>
          <td  valign="top">0.55    mm</td>
        </tr>
        <tr>
          <td  valign="top">15.87    mm</td>
          <td  valign="top">1.47    mm</td>
          <td  valign="top">19/22/26/40</td>
          <td  valign="top">15.70    mm</td>
          <td  valign="top">1.42    mm</td>
          <td  valign="top">12.86    mm</td>
          <td  valign="top">0.71    mm</td>
        </tr>
        <tr>
          <td  valign="top">15.87    mm</td>
          <td  valign="top">1.32    mm</td>
          <td  valign="top">19/22/26/40</td>
          <td  valign="top">15.70    mm</td>
          <td  valign="top">1.24    mm</td>
          <td  valign="top">13.22    mm</td>
          <td  valign="top">0.59    mm</td>
        </tr>
      </tbody></table>
	</div>
	


	  <ul>
	<li>For calculation of surface area of a turbo chill tube, please contact us.</li>
	<li>For tube parameters of Turbo Chill Fin Tubes of sizes not mentioned above or any other special requirements please contact us.</li>
	<li>Turbo Chill fin tubes with fin density other than mentioned in the above chart can be produced on request.</li>
	<li>Turbo Chill Fin Tubes with alloy 71500 is also available; please contact us for Fin parameters.</li>
	<li>Turbo Chill Fin Tubes are generally supplied in the “as finned” condition. However, alloy 70600 & 71500 can be supplied in “annealed” temper upon specific request.</li>
	<li>Turbo Chill Fin Tubes are generally produced with desired plain ends, tubes can also be fabricated with intermediate landings upon specific request.</li>
	<li>Turbo Chill Fin Tubes are produced in straight length up to 8 Meters. Bigger lengths can be accommodated on request.</li>
	<li>Turbo Chill Fin Tubes are supplied with deburred / smooth ends.</li>
   
	 </ul>  



	 
	 
	 
	 </div>
	 
	 
	 
	 
	 
	 
</div>
</div>