	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1> Cupro Nickel Flanges</h1>
			
			</div>   
				</div>

	
	</div>	
			
	 </div>
		
		
	<div class="container">
		
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
	<li><a routerLink="/home">Home</a></li>
	<li>Bending & Fabrication</li>
		<li>Forged Flanges</li>
  <li> Cupro Nickel Flanges</li>
	
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	


	
	
  <div class="container">
   <div class="row">

	   
   <div class="col-lg-3">
	  <app-submenu></app-submenu>
	  
	   
	</div>
	   
	   
	   
  <div class="col-lg-9">
	
	  
	  <img class="img-fluid mb-3" src="./assets/images/CUPRO-NICKEL-FLANGES.jpg" alt="CUPRO-NICKEL-FLANGES"/>   

	  
	  
	  <p class="text-justify">	
		  
Tube Tech manufactures precision-engineered, excellent surface finish Cupro Nickel Flanges OR Copper nickel Flanges fabricated in accordance with defined industry standards for a variety of applications to suit customer’s specific requirements. Exhaustive quality checks at every stage of manufacturing ensure high accuracy in terms of composition, mechanical properties, dimensions and delivery.


</p>
	  

  
	 <p class="text-justify">	  
	  
We fabricate both 90/10 & 70/30 Cupro Nickel Flanges in sizes dia 50 mm and above and wall thickness 3 mm and above. Cupronickel Flanges OR Copper nickel Flanges can be fabricated in all Classes and specifications as per the applicable standards. Generally Cupronickel Flanges may be ordered manufactured from material conforming to the requirements of ASTM B 151, B 152 or B 171 Alloys 90-10 (UNS C70600) and 70-30 (UNS C71500).


  </p>
	  
	 	 <p class="text-justify">	   
	  Using the latest that technology has to offer, we supply a wide range of industrial forged flanges  which include but not limited to:
  </p>
	  
<ul class="pl-2 ml-2">
	
<li>Weld Neck Flanges</li>
<li>Slip On Flanges </li>       
<li>Socket Weld Flanges</li>
<li>Lap Joint Flanges</li>
<li>Threaded Flanges</li>
<li>Blind Flanges - and many more that find their applications in the petrochemical, automobile, textile, pharmaceutical, Ship building industries.</li>
	
</ul>  
	  
	  
	  
	  
	<p><strong>Our facilities are capable of providing Special custom cupronickel flanges OR Copper nickel Flanges may be fabricated as per our customer’s drawings and specifications.</strong>

  </p>
	  
	
	  
	  
	  
	  
	   
</div></div></div>