	
<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>Special Profile Tubes</h1>
        </div>   
            </div>

    
</div>	
        
 </div>
    

    <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
 <li><a routerLink="/home">Home</a></li>
<li>Smooth Tubes</li>
<li>Square Tubes</li>
<li>Special Profile Tubes</li>


</ul>


        
</div>	
        
 </div> </div>	
</header>


<div class="container">
<div class="row">

   
<div class="col-lg-3">
   
    <app-sub-menu></app-sub-menu>

   
</div>
   
   
   
<div class="col-lg-9">
  
  
  
        <div class="row">
  
      <div class="col-lg-12">
      
        <img class="img-fluid rounded mb-3 img-thumbnail" src="./assets/images/Special-Profile-tubes.jpg"  alt="thumb"/> 
      
      </div>
      
      
   
        
  </div>
  
  
<p class="text-justify">

<strong>Tube Tech</strong> manufactures Copper Special Profile Tubes and Brass Special Profile Tubes with cross-sections of any shape, according to the customer’s specifications. They are many-purpose products which can be ordered according to a respective standard, specification or tailored as to suit specific needs of customers. Our facilities are capable of producing almost any shape – which is possible through drawing operation such as: elliptical, D shaped, Oval Shaped, any customized shape for special requirements etc. – for our esteemed customers. Mechanical properties and chemical compositions are in accordance with ASTM or other common standards, as well as special customer’s requirements.
</p>  

  
  

 
<div class="jumbotron">
 <h4> Dimensional Range</h4>
  
  <ol  class="mb-0">
<li><strong>Outer Diameter</strong> - 6.00 mm to 50.00 mm</li>
<li><strong>Wall Thickness</strong> -  0.7 mm and above	</li>
<li>Available in lengths up to 6 mtrs.</li>
<li>Available in a variety of tempers as per the requirements.</li>
<li>ASTM, BS, JIS, IS, DIN and all other common specifications.</li>
      
  </ol>
  
  
   
  
  
</div>
  

  
  
  
  
</div>
   
   
   
   
   
   
</div>
</div>