	
	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1> Composite Flanges</h1>
			
			</div>   
				</div>

	
	</div>	
			
	 </div>
		
		
	<div class="container">
		
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
	<li><a routerLink="/home">Home</a></li>
	<li>Bending & Fabrication</li>
		<li>Forged Flanges</li>
  <li> Composite Flanges</li>
	
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	


	
	
  <div class="container">
   <div class="row">

	   
   <div class="col-lg-3">
    <app-submenu></app-submenu>
    
    </div>
	   
	   
	   
  <div class="col-lg-9">
	
	  
	  <img class="img-fluid mb-3" src="./assets/images/composite-flanges.jpg" alt="composite-flanges"/>   

	  
	  
	  <p class="text-justify">	
		  
Tube Tech manufactures and supplies premium quality composite flanges, fittings and pipes for variety of fluid system lines. We fabricate Bi-metallic Composite Flanges where the base material can be of Carbon Steel fitted with Stub End Copper OR Cupro Nickel material brazed together for a strong, long lasting joint. Both Long Pattern & Short Pattern stubs can be fabricated as per the requirement. We use various ways of production technology depending on Customer’s requirements and applications of the product.



</p>
	  
	  <p class="text-justify">	
 

We offer Composite Flanges in different dimensions & material grades for mechanically connecting two fluid lines. Composite flanges are available in round, square and rectangular shapes. The array of Pipe Flanges includes Class 150 Flanges, Class 300 Flanges, Class 600 Flanges and Class 1500 Flanges. Our vast resources and technical expertise enables us to cater to diverse needs our Customers from industrial commercial segments. Base Flanges are colour coded according to their construction for identification.
	 </p> 
	  
	
	  
		  <p class="text-justify">Our facilities allow us to fabricate following types of Composite Flanges to meet the demand from our Customers.</p> 

  
	  
	  <ul class="pl-3">
	  
		<li>Weld Neck Flanges</li>
		<li>Slip on Flanges – Raised Face</li>
		<li>Blind Flanges</li>
		<li>Lap Joint Flanges</li>
		<li>Threaded Flanges</li>
		<li>Socket Weld Flanges</li>
		<li>Plate Flanges</li>
		<li>DIN Flanges</li>
	  
	  
	  
	  
	  
	  
	  </ul>
	  
	  
	  
	<p>… and many more that find their applications in the petrochemical, automobile, textile, pharmaceutical, Marine industries & Fluid Lines.
</p>  
	  
	  
	  
	  
	   
</div></div></div>
