	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1>Finned Tube: Geometry</h1>
			
			</div>   
				</div>


				

		
	</div>	
			
	 </div>
		
		
	<div class="container">
		
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
	<li><a routerLink="/home">Home</a></li>
  <li>Finned Tube</li>
	<li>Finned Tube : Geometry</li>
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	
		
  <div class="container">
   <div class="row">

	   
   <div class="col-lg-3">
<app-sub-menu></app-sub-menu>
	   
 </div>
	   
	   
	   
  <div class="col-lg-9">
	
<p class="text-justify">	
Finned Tube is formed by a rolling process which raises fins in a continuous spiral on a straight length of tubing. This is a fin tube with a greatly increased surface area of known dimensions which is completely integral. Tube Tech produces Finned Tubes from precision made smooth tubes in all types of Copper, Carbon Steel & Stainless Steel Tube Materials with superior dimensional control. We produce Finned Tubes with a wide variety of combinations with Fin density ranging from 16 FPI to 48 FPI with or without internal ridges. The fin tubes are normally produced with both ends plain, however, intermediate landing can be provided as per the requirement.

</p>	  
<p class="text-justify">	
During the finning operation the inside diameter of the base tubes is reduced and simultaneously helical fins are rolled out of the tube wall. Therefore the outside diameter of the fins becomes smaller or at least not larger than the permissible outside diameter of the unfinned tube sections. It is an advantage of the finning procedure that the finning operation can be interrupted at any point of the tube. The unfinned tube sections (intermediate landings) make it possible to support and fit these finned tubes in shell-and-tube heat exchangers in the same way as plain tubes.


</p>	  
	<p class="text-justify">The below sketches illustrate the parameters of Fin Tube:</p>

	<img class="img-fluid" src="./assets/images/finned-tube-geometry.jpg" alt=""/> </div>
	   
	   
	   
	   
	   
	   
</div>
</div>
