<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>Copper Coils </h1>
        </div>   
            </div>

    
</div>	
        
 </div>
    
          <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
<li href="#">Smooth Tubes</li>
<li>Copper Tubes</li>
<li>Copper Coils</li>
</ul>

</div>	
   
   
   
        
 </div> </div>	
</header>


	
<div class="container">
    <div class="row">
 
        
   <div class="col-lg-3">
     <app-copper-submenu></app-copper-submenu>
     </div>
        
        
        
   <div class="col-lg-9">
        
       <div class="row">
       
           <div class="col-lg-12">
           
           <img class="img-fluid rounded mb-3 img-thumbnail" src="assets/images/Copper-colis-product-thumb.jpg"  alt="thumb"/> 
           
           </div>
                
       </div>

      
       <p class="text-justify">
        With a reputation of product excellence and reliability, Tube Tech offers its customers a wide range of high quality, soft annealed, single/double layer, plain and plastic coated copper coils for diverse applications. These tubes are manufactured with an outside diameter tolerance of +0.0/-0.08mm (0.003”), annealed at approximately 600°C, giving a hardness range of 45/60 HV5. Our smooth bore copper tubes are characterized by their bright, clean and dry internal and external surfaces. Superior dimensional control offers a trouble free performance and cost saving. The tube ends are capped at both ends to maintain the standard of cleanliness.
       </p>

       

       <p class="text-justify">
  Tube Tech manufactures high quality plastic coated copper coils designed for protection against aggressive environment and colour coded to aid identification.
</p>


       
     <div class="">
       
       
      <table class="table table-bordered ">
 
        <tr class="my_table" >
     <th rowspan="2" valign="bottom" class="jumbotron">Phosphorus deoxidized copper (DLP)	
 </th>
       
     <td><b>Standard</b></td>
     <td>ASTM B – 75</td>
     <td>BS 2871</td>
     <td>JIS H 3300</td>
     <td>DIN 1787</td> 
     <td>IS 10773</td>
     </tr>
 
     <tr class="my_table" >
        <td><b>Symbol</b></td>
        <td>C 12000</td>
        <td>C 106</td>
        <td>C 1201</td>
        <td>SW–CU</td>
        <td>Cu-DLP</td>
   </tr>
      
      
   <tr class="my_table" >
     <th rowspan="2"  class="jumbotron">Phosphorus deoxidized copper (DHP)
 
 </th>
       
     <td><b>Standard</b></td>
     <td>ASTM B-68, 75, 280</td>
     <td>BS 2871</td>
     <td>JIS H 3300</td>
     <td>DIN 1785</td>
     <td>IS: 2501, 10773</td>
   </tr>
      
      
   <tr class="my_table" >
      <td><b>Symbol</b></td>
      <td>C -12200</td>
      <td>C 106</td>
      <td>C 1220</td>
      <td>SF-CU</td>
      <td>Cu-DHP</td>
   </tr>	 
      
  
  
   <tr class="my_table" >
     <th rowspan="2"  class="jumbotron"> Tough Pitch Copper (ETP)</th>
       
     <td><b>Standard</b></td>
     <td>ASTM B-188 </td>
     <td>BS 2871 </td>
     <td>JIS H 3300 </td>
      <td>DIN 1787 </td>
      <td>IS: 2501</td>
    </tr>
    <tr class="my_table" >
            
      <td><b>Symbol</b></td>
      <td>C 11000</td>
     <td>C 101</td>
     <td>C 1100</td>
     <td>ECU 58</td>
     <td>Cu-ETP</td>


   </tr>	 	 
     
 </table>
       
       
      </div>   
       
       
     

      <h5> Dimensional Range</h5>
       
       <ol>
    <li><strong>Outer Diameter</strong> - 3.15 mm to 28.00 mm</li>
    <li><strong>Wall Thickness</strong> - 0.45 mm and above.</li>
    <li>Available in length between 5 meters and 30 meters.</li>
  <li>Available in single / double layer to match the requirement.</li>

</ol>
       
       
        
       
       

 
       
       
             
      

       
     <h5> Other Features</h5>
       <ol>
  <li>Characterized by a bright, clean and dry outside and inside surface.</li>
  <li>Delivered with close ends to guarantee high internal cleanness. </li>
  <li>Available with pvc coating of blue, black or yellow colour with pvc thickness of 0.50 mm or 1.00mm. </li>		
  <li>Can be hand straightened or bent as required using standard benders.</li>
   </ol>
 
       


       <h5>End Applications </h5>
       <p>Refrigeration and air conditioning, oil and gas lines and general engineering applications.</p>
 
     
  
       
       
       
       
       
       
       
       
       
       
       
       
 </div>
        
        
        
        
        
        
 </div>
 </div>
     