	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1> Copper Flanges</h1>
			
			</div>   
				</div>

	
	</div>	
			
	 </div>
		
		
	<div class="container">
		
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
	<li><a routerLink="/home">Home</a></li>
	<li>Bending & Fabrication</li>
	<li>Forged Flanges</li>
  <li>Copper Flanges</li>
	
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	

	
  <div class="container">
   <div class="row">

	   
   <div class="col-lg-3">
<app-submenu></app-submenu>
	   
	</div>
	   
	   
	   
  <div class="col-lg-9">
	
	  
	  <img class="img-fluid mb-3" src="./assets/images/COPPER-FLANGE.jpg" alt="COPPER-FLANGE"/>   

	  
	  
	  <p class="text-justify">	
		  
Tube Tech offers a commendable range of Copper Flanges to suit our Customer’s specific requirements. We manufacture all types of <strong>Copper Flanges - weld neck Copper Flange, slip-on Copper Flange, threaded Copper Flange, lap-joint Copper Flange, socket weld Copper Flange and all other types of Copper Flanges</strong> as per demand of our esteemed customers. We produce Copper Flanges up to 600 mm diameter and thickness up to 70 mm. However, bigger sizes of Copper Flanges are also available on request.



</p>
	  

	  
	  
	  
	   
</div></div></div>