
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {  padding-top: 56px;}

.flink{color: #333;  text-decoration: none; }
.flink:hover{color: #cc603c;  text-decoration: none;  }

.link{color: #333;  text-decoration: none; font-family: 'Roboto Slab', serif;}
.link:hover{color: #cc603c;  text-decoration: none; font-weight: 600; font-family: 'Roboto Slab', serif;}
.link a{ color: #333; text-decoration: none; font-weight: 600;}
.navbar-brand span{ font-size: 12px; text-align: center;}

.inner_banner{ height: 100px; background-color: #794837; margin-bottom: 20px; margin-top:35px; position: relative;  z-index: 1}
.inner_banner h1{ color: #fff;}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
 float:right; position: absolute; bottom: 35px; z-index: 100000; 
}

ul.breadcrumb li {
  display: inline;
  font-size: 15px; color: #fff;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #fff;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #fff;
  text-decoration: underline;
}


rousel-item {
  height: 50vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.portfolio-item {  margin-bottom: 30px;}
.button5 {border-radius: 35px; background: #cc603c; padding: 5px 14px; color: #fff; text-decoration: none}
.button5:hover  {background: #333; color: #fff; text-decoration: none}
.button6 {border-radius: 35px; background: #794737; padding: 5px 14px; color: #fff; text-decoration: none}
.button6:hover  {background: #333; color: #fff; text-decoration: none}
.logo{ max-width: 380px; height: auto;}
.navbar-dark .navbar-nav .nav-link {  color: rgba(0, 0, 0, 0.9);}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{  color: #fff; background-color: #cc603c;	}
.top_height{ border-top: 5px solid #cc603c }


.cta-100 {

  padding-top: 50px;
}
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #708198 !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 30px;
}

.blog .carousel-indicators {
  left: 0;
  bottom: 0px;
 
}


/* The colour of the indicators */






.blog .carousel-indicators li {
  background: #708198;
  border-radius: 100%; 
	height: 0.01px;

}

.blog .carousel-indicators .active {
  background: #cc603c;
}



.bg_darkgrey{ background:#e1e1e1; }

.accordion .card-header:after {
    font-family: 'FontAwesome';  
  content: "\f139";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f13a";
}


[data-toggle="collapse"] .fa:before {  
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}


.red-strip::before{ 
	
	  content: "";
  background-color: #794737; 
	position: absolute; 
	top: 3px; left: -8px; width: 25px; height: 100px;
}



.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: left;
  z-index: 4;
  padding: 20px; height: 400px; background: #fff;
	
}


.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 0px; 
}


.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}


.item-box-blog-text ul { margin-left: 0px; padding-left: 20px; margin-bottom: 0px; padding-bottom: 0px;}
.item-box-blog-text ul li { margin: 0px; padding: 0;  margin-bottom: 0px; padding-bottom: 0px;}
.item-box-blog-text ul li a { color: #333;overflow-y: scroll }
.item-box-blog-text ul li a:hover { color: #cc603c; }





.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}



#Why-Choose-us{ background:#cc603c; padding-bottom: 40px;}
#Why-Choose-us h3{ color: #fff; }
#Why-Choose-us p{ color: #fff; text-align: center; font-size: 21px; line-height: 29px;  }
#Why-Choose-us p span{ color: #fff; text-align: center; font-size: 21px; font-weight: 700; }
#Why-Choose-us .thumbbox h4{ color: #fff; text-align: center; font-size: 18px; line-height: 17px;  font-weight: 600; padding-top: 10px;}
#Why-Choose-us .thumbbox h2{  margin-top: -10px;}
#Why-Choose-us .thumbbox p{ color: #fff; text-align: center; font-size: 16px; line-height: 17px;}
.accordian_customize{ margin-left: -144px; position: absolute;}


#Why-Choose-us .dot {
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 25px;
    height: 25px;
    width: 25px;
    background-color: #794737;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}




.carousel-indicators.modify {
  
  justify-content:flex-start; 
  margin-left:40px;
  padding-right:15px;
}


.fa-map-marker{font-size:18px;}

.carousel-indicators li {
    width: 17px;
    height: 17px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: 0px;
}


.carousel-caption h3{ font-size: 36px; line-height: 45px; font-weight: bold;}
.carousel-caption h3 span{ color: #cc603c; }


#Why-Choose-us .fontawsome { color: #fff; }

h3{  overflow:hidden; }
h3::before,
h3::after {
    display: inline-block;
    content: "";
    border-bottom: .1rem solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

.footer-title:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 40px; /* Change this to whatever width you want. */
    padding-top: 7px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #6e6e6e; /* This creates the border. Replace black with whatever color you want. */
}





.tab_customized{ background-color: #cc603c; margin-bottom: 1px; border-radius: 0px; color: #fff; width: 130px; }
.tab_customized a{  color: #fff;}


.nav-item .btn_cusomizedwhite{ background-color: #fff;}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #333;
  background-color: #fff; 
	border-radius: 0px;
	
}


.footer{background: #f9f9f9; margin-bottom: 10px;}
.footer p{ line-height: 22px; font-size: 14px;}
.footer ul{ }
.footer ul li{ line-height: 20px; margin-bottom: 5px; font-size: 14px; }

.footer h5{ font-size: 18px; font-weight: 500;}

.marging_topper{ margin-top:-40px;  }



.contact_box{}
.contact_box ul {
  list-style-type: none;
  padding-left: 20px;
  color: #666;
}

.contact_box li {
  padding-left: 20px;
  margin-bottom: 10px
}

.contact_box ul > :first-child {
	
	 content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
	
}




.address-left {
    float: left;
    width: 7%; text-align: center;
}

    .address-left i.fa.fa-envelope, .address-left i.fa.fa-map-marker, .address-left i.fa.fa-phone {
        color: #333;
        font-size: 14px;
    }

.address-right {
    float: right;
    width: 91%;
}

    .address-right h6 {
        color: #333;
      
        margin: 0;
        font-weight: 600;
    }

    .address-right p {
        margin: 2px 0 0;
        font-size: 15px;
        color: #565656;
    }

        .address-right p a {
            color: #333;
        }

            .address-right p a:hover {
                color: #333;
            }

        .address-right p span {
            display: block;
            margin: .5em 0;
        }



.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px; background: #764939; border-color: #764939;
}




footer p{ padding-bottom: 0px; margin: 0; font-size: 14px;}

.block-buttons {
	position: relative;
}
.block-buttons .btn-group {
	width: 100%; 
}

.block-buttons button {
	width: 50%; background: #cc603c;color: #fff; font-size: 24px; border-radius: 5px;
}

.block-buttons button:hover {
	width: 50%; background: #333; color: #fff;
		
}


.owl-buttons {
  display: none;
}
.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;
}

.controls label{ margin-bottom: 0.1rem;}


.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}



.product_list{}
.product_list h3{ color: #cc603c; font-size:16px; }
.product_list ul{ margin: 0; padding: 0px; margin-top: 12px;  }
.product_list ul li{ margin: 0; padding: 0px; list-style-type: none; margin-bottom: 10px;margin-left: 0;   padding: 0px; padding-bottom: 5px;  border-bottom:1px solid #aeaeae;}
.product_list ul li a{ margin: 0; padding: 0px; color: #333;margin: 0; padding: 0px; font-weight: 500; text-decoration: none;}

.product_list ul li ul{ margin-top: 3px; list-style-type: circle;}
.product_list ul li ul li a{ margin: 0; padding: 0px; color: #333; margin: 0; padding: 0px; font-weight: 300; margin-bottom: 3px;  border-bottom:0px solid #aeaeae; }


@media screen and (max-width: 1366px) {


.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
}



}


.footer_text_left{ text-align: left;} 
.footer_text_right{ text-align: right;} 


	
	@media screen and (max-width: 1366px) {
.logo{ max-width: 230px; height: auto;}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}
}
	





@media screen and (max-width: 960px) {
	
	ul.breadcrumb {
  padding: 10px 0px;
  list-style: none;
  float:right; position: absolute; right: 30px; margin-top: 25px
}
		
	

}



	
	
	
	
	
	

@media screen and (max-width: 768px) {
.logo{ max-width: 250px; height: auto;}
	
	ul.breadcrumb { display: none;}
	.inner_banner{height: 80px;}

	.inner_banner h1{ font-size: 20px;}
	
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-size: 20px;
}
		.navbar-brand { font-size: 16px; }
 
.footer_text_left{ text-align: center;} 
.footer_text_right{ text-align: center;} 

	
	
	.item-box-blog {
  border: 1px solid #dadada;
  text-align: left;
  z-index: 4;
  padding: 20px; height: 490px; background: #fff;
	
}
	
	.inner_banner h1 {
    color: #fff;
    font-size: 24px;
}
	
	
	
	
	
	
	
	
}



@media screen and (max-width: 420px) {
	.logo{ max-width: 150px; height: auto;}
.navbar-brand { font-size: 16px; }
	.navbar-brand span{font-size: 9px;text-align: center;}


h3, .h3 {
    font-size: 1rem;
}	


#Why-Choose-us .dot {
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 80px;
    height: 25px;
    width: 25px;
    background-color: #794737;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

	.tab_customized{ background-color: #cc603c; margin-bottom: 1px; border-radius: 0px; color: #fff; width: 100%; }
	
	.position_tab{ position: absolute;}
	

	
	
	
	.inner_banner h1 {
    color: #fff;
    font-size: 18px;
}

	
	
	

	
	
	
	
	}
	







	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	