<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>Quality </h1>
        </div>   
            </div>

    
</div>	
        
 </div>
    
          <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
<li>Quality</li>
</ul>


        
</div>	
        
 </div> </div>	
</header>



<div class="container">
<div class="row">
   
<div class="col-lg-3">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
 
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid img-thumbnail" src="assets/images/copper-tubes.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="img-fluid img-thumbnail" src="assets/images/Cupro-Nickel-Tubes.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="img-fluid img-thumbnail" src="assets/images/Fin-tube.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  
  
   
</div>
   
   
   
<div class="col-lg-9">
   
  
    <img class="img-fluid img-thumbnail" src="./assets/images/quality.jpg" alt="quality"/>

  <p class="text-justify mt-2">
    <b>  Quality</b><br>
      Quality has brought prosperity to Tube Tech. High product quality is an absolute priority for us and this constitutes a competitive advantage as it sets us apart from our competitors and hence makes a significant contribution towards securing and extending our market position. A determination to settle for nothing less than excellence is the foundation on which our company operates. Our stringent quality practices ensure that every product meets the industry's highest production standards. The products and services we offer not only meet the quality requirements of our customers but actually exceed them.
      
    </p>
  

  
  <p class="text-justify"><strong> Quality Control</strong><br>
    It is the stringent regime of quality controls and procedures established at <strong>Tube Tech</strong> that gives its products the critical advantage in the industry. Strict process requirements and continuous monitoring throughout the production process minimizes the range of possible deviations in the final output. The works have been equipped with reliable testing and measuring equipment for destructive and non destructive testing which include:</p>	  
  
  
  <h4>Destructive Tests:</h4>
  
  
<p class="text-justify"><strong>Flaring Test</strong><br>
The flaring test serves to establish the forming behavior of tubes or pipes which is expanded to a specific degree. This flaring test is carried out in conformity with the code requirements. The specimen to be tested is expanded in a press to the degree specified. Defects which occur as result of this process are not permissible.
</p>	
  
  
      
<p class="text-justify"><strong> Hardness Test </strong><br>
Samples from each lot are tested to ensure that the hardness of the tube is within permissible limits.   
  
</p>	

<p class="text-justify"><strong>Tensile Test</strong><br>
The tensile test specimen serves to determine the strength and ductility characteristics i.e. yield strength, tensile strength and elongation. Tensile tests are normally carried out at room temperature according DIN, ASTM, BS, and other common standards.

</p>
  
  
 
<p class="text-justify"><strong>Flattening Test</strong><br>
Flattening test mainly serves to detect microscopic internal and external flaws. It involves compressing a tube section between two planes placed parallel to a predetermined distance. Incipient cracks and internal or external defects which occur as result of this process are not permissible.
</p>	  
  
 <h4>Non Destructive Tests:</h4>  
  
  


<p class="text-justify"><strong>Eddy Current Test</strong><br>
To eliminate the possibility of any surface defects the finished tubes are subjected to Eddy Current Testing on specific request of the Customer.
</p> 
  
  

<p class="text-justify"><strong>Hydrostatic Tests</strong><br>
All tubes and pipes produced at Tube Tech are compulsorily subjected to 100% hydro testing. Hydrostatic Testing can be carried out at pressures upto 120 kg /cm sq. The test pressure is achieved using high pressure Triple Plunger pumps. If specified, customers or their deputed inspection agencies can witness 100% hydro testing at our plant.
</p> 	  
  

  

<p class="text-justify"><strong>Pneumatic Testing</strong><br>
For thin wall tubes Pneumatic Testing (Air under water) is done at up to 450 psi air pressures to check for any leakages in the tube.
</p> 		  
  
  

  

<p class="text-justify"><strong>Profile Projector

</strong><br>
Dimensions of the Finned Tubes such as Fin Depth, Root Diameter, Thickness of Fin, Root Wall Thickness and Wall Thickness under Fins are checked with Profile Projector.

</p> 		  
        
  
  

<p class="text-justify"><strong>Visual Inspection</strong><br>
All products at Tube Tech are subjected to 100% visual inspection.
</p> 		  
    
  
    
<p class="text-justify"><strong>Third Party Inspection</strong><br>
We welcome inspection of our product quality and its adherence to the given standard from any Third Party Inspection Agency. We regularly work with inspection agencies like BVIS, TUV, IRS, QUEST, ICS, NCS, Lloyd’s etc. 
</p>   
 
  
  
</div>
   
   
   
   
   
   
</div>
</div>
