	
	
		<header>

            <div class="inner_banner">
                <div class="container d-flex h-100">
            <div class="row align-self-center">
                <div class="col-lg-12 ">
                <h1>End Cross Fin Tubes</h1>
                
                </div> 
                    </div>
    
    
                    
    
            
        </div>	
                
         </div>
            
            
        <div class="container">
            
     <div class="row">
         
    <div class="col-lg-12">
    
    <ul class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
    <li>Fin Tubes</li>
    <li>End Cross Fin Tubes</li>  
    </ul>
    
        
                
        </div>	
                
         </div> </div>		
        
    </header>
        
	


	
	
<div class="container">
 <div class="row">

	 
 <div class="col-lg-3">
    <app-sub-menu></app-sub-menu>
	</div>

    <div class="col-lg-9">
	
	
        <img class="img-fluid mb-3" src="./assets/images/END-CROSS-FIN-TUBES.jpg" alt="integral-fin-tubes"/>
    <p class="text-justify">	
    End cross fin tube is a tube having integral external fins of 26 to 40 fins per inch and increased fin height with a trapezoidal shape. These fin tubes are produced with smooth bore as well as integral internal ridges. End Cross Fin Tubes are generally used in Vapour Absorption Chillers. These fin tubes are available in 12.7 mm, 15.87 mm & 19.05 mm outer diameters with wall thickness as low as 0.55 mm. These fin tubes can be fabricated from all types of Copper & Copper Alloy Tube products. It is also known as <strong>Knurled Fin Tube.</strong>
    
    
    </p>	
    
            
    
    
          <ul>
        <li>End Cross fin tubes with Tube Dia and fin density other than mentioned above can be produced on request.</li>
    <li> End Cross fin Tubes are generally supplied in the “as finned” condition. However, Brass and Cupro Nickel End Cross Fin Tubes can be supplied in “annealed” temper upon specific request.</li>
    <li>End Cross Fin Tubes are generally produced with desired plain ends, tubes can also be fabricated with intermediate landings upon specific request.</li>
    <li> End Cross Tubes are produced in straight length up to 8 Meters. Bigger lengths can be accommodated on request.</li>
     </ul>  
    
    
    
         
        <p><strong>End Application:</strong> Vapour Absorption Chillers, air conditioning exchangers and chiller units.
    
    
    </p>
    
     
         
         </div>
	 
	 
	 
	 
</div>
</div>