<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>PVC Coated Copper Tubes</h1>
        </div>   
            </div>
</div>	
        
 </div>
    
          <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
<li><a href="index.html">Home</a></li>
  <li href="#">	Smooth Tubes</li>
<li>Copper Tubes</li>
<li class="breadcrumb-item">PVC Coated Copper Tubes</li>
</ul>


        
</div>	
        
 </div> </div>	
</header>






<div class="container">
    <div class="row">
 
        
    <div class="col-lg-3">
        <app-copper-submenu></app-copper-submenu>
    </div>

    <div class="col-lg-9">
	   
        <div class="row">
        
            <div class="col-lg-8"><img class="img-fluid rounded mb-3 border" src="./assets/images/PVC-Coated-Copper-Tubes.jpg"  alt="thumb"/>
            </div>
            
            

            
      
        </div>
        
        
        <p class="text-justify">
        Tube Tech manufactures PVC Coated Copper Tubes & PVC Coated Copper Coils for diverse applications. These PVC coated copper tubes – Plastic coated copper tubes are manufactured in a variety of options for use when copper tube is to be used in a potentially aggressive environment to ensure copper tube’s longetivity in service. Our PVC coated copper tube – Plastic Coated Copper Tubes eliminates the need for on-site tape wrapping or sleeving, creating a savings on labor and ensuring a professional looking installation.
  </p>
   
        <p class="text-justify">
  Copper Tubes are manufactured in accordance with ASTM B 75 / ASTM B 68 or other common standards while PVC Coating is done in accordance with ASTM D 1047. PVC coating / plastic coating can be done in any colour desired by the customer.</p>
  
   
     <p class="text-justify">
  PVC coated copper tubes & copper coils are available in outer diameters 6 mm to 22 mm and wall thickness 0.45 mm and above. We can manufacture these PVC Coated Tubes in lengths up to 30 mtrs.
  </p>
   <hr>
     <p class="text-justify">
  <b>End Applications: </b><br>
  Air conditioning & Refrigeration, Natural & LPG Gas Applications, Fuel Oil Applications, Cold & Hot water applications, Chemical applications etc.
  </p>
  
        
        
        
        
        
        
        
  </div>   
              
        
     
        
        
        
   
        
        
        
        
 </div>
 </div>