	
<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12 ">
        <h1>Internally Finned Tubes</h1>
        
        </div> 
            </div>


            

    
</div>	
        
 </div>
    
    
<div class="container">
    
<div class="row">
 
<div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
<li>Fin Tubes</li>
<li>Internally Finned Tubes</li>


</ul>


        
</div>	
        
 </div> </div>		

</header>
    
<div class="container">
<div class="row">

 
<div class="col-lg-3">
    <app-sub-menu></app-sub-menu>

</div>
 
 
 
<div class="col-lg-9">


<img class="img-fluid mb-3" src="./assets/images/INTERNALLY-FINNED-TUBES.jpg" alt="INTERNALLY-FINNED-TUBES"/>
<p class="text-justify">	
Tube Tech manufactures internally finned tubes / internally enhanced tubes or internally grooved tubes with plain outer diameter and 50 to 70 internal ridges as per the requirement of the Customer for Direct Expansion Shell and Tube Liquid Coolers. These inner grooved tubes are also called Dx Tubes Or Evaporator Tubes. These internally enhanced fin tubes are designed to provide maximum heat transfer with minimum refrigerant side pressure drop. The inside heat transfer coefficient of these tubes is generally 2 to 3 times greater than coefficient for smooth surface tubes. These internally finned tubes are available in tube materials Copper UNS C 12200 & 90/10 Cupro Nickel UNS C 70600.



</p>	
<div class="table-responsive">
<table class="table table-striped table-bordered">
    <tbody><tr>
      <td><strong>Tube Dia</strong></td>
      <td ><strong>Wall Thickness</strong></td>
      <td ><strong>No Of Ridges</strong></td>
      <td ><strong>Helix Angle (0)</strong></td>
      <td ><strong>Ridge Height</strong></td>
      <td ><strong>Inside Surface Area (m2/m</strong></td>
    </tr>
    <tr>
      <td>12.7 mm</td>
      <td >0.8 mm</td>
      <td >50</td>
      <td >18</td>
      <td >0.25 mm</td>
      <td >0.035</td>
    </tr>
    <tr>
      <td>12.7 mm</td>
      <td >0.8 mm</td>
      <td >60</td>
      <td >18</td>
      <td >0.25 mm</td>
      <td >0.037</td>
    </tr>
    <tr>
      <td>12.7 mm</td>
      <td >0.8 mm</td>
      <td >75</td>
      <td >18</td>
      <td >0.25 mm</td>
      <td >0.038</td>
    </tr>
    <tr>
      <td>15.9 mm</td>
      <td >0.8 mm</td>
      <td >50</td>
      <td >25</td>
      <td >0.25 mm</td>
      <td >0.044</td>
    </tr>
    <tr>
      <td>15.9 mm</td>
      <td >0.8 mm</td>
      <td >60</td>
      <td >25</td>
      <td >0.25 mm</td>
      <td >0.046</td>
    </tr>
    <tr>
      <td>15.9 mm</td>
      <td >0.8 mm</td>
      <td >75</td>
      <td >25</td>
      <td >0.25 mm</td>
      <td >0.047</td>
    </tr>
  </tbody></table>


 
 </div>

  <ul>
<li>Internally Finned tubes with wall thickness and internal ridge density other than mentioned above can be produced on request.</li>
<li>Internally Finned tubes are produced in straight length up to 6 Meters. Bigger lengths can be accommodated on request.</li>
</ul>  

<p><strong>End Application:</strong> Fluid to fluid & gas to gas heat exchangers, air conditioning exchangers and chiller units.

</p>


 
 </div>
 
 
 
 
 
 
</div>
</div>