	
<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>Brass Octagonal Tubes</h1>
        </div>   
            </div>

    
</div>	
        
 </div>
    

    <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li>Smooth Tubes</li>
<li>Square Tubes</li>
<li>Brass Octagonal Tubes</li>

</ul>


        
</div>	
        
 </div> </div>	
</header>

    
<div class="container">
<div class="row">

   
<div class="col-lg-3">
    <app-sub-menu></app-sub-menu>
  
</div>
   
   
   
<div class="col-lg-9">
   
  <div class="row">
  
      <div class="col-lg-9">
      
      <img class="img-fluid rounded mb-3 img-thumbnail" src="./assets/images/brass-octagonal-tubes.jpg"  alt="thumb" /> 
      </div>
      
      
      <div class="col-lg-6 align-self-center text-justify"> </div>
        


        
      

  </div>
  
  
  
<p class="text-justify">
  Tube Tech produces Copper Hexagonal Tubes & Brass Hexagonal Tubes for a variety of applications. These Hexagonal Copper Tubes and Hexagonal Brass Tubes are available in outer diameters 6 mm to 50 mm with wall thickness combination 0.5 mm and above. These tubes are available in light drawn, hard drawn & soft annealed tempers depending upon the requirement. Hexagonal Copper Tubes are available in both commercial grade (DHP Grade) & Electrolytic grade (ETP Grade) and Hexagonal Brass Tubes in CuZn37 grade & all other commonly used grades to suit the intended applications.
</p>
  
  
  
  
  
 
<div class="jumbotron">
 <h4> Product Features:</h4>
  
  <ol  class="mb-0">
<li><strong>Outer Diameter</strong> - 6.00 mm to 50.00 mm</li>
<li><strong>Wall Thickness</strong> - 0.7 mm and above	</li>
<li>Available in lengths up to 6 mtrs</li>
<li>Available in a variety of tempers as per the requirements.</li>
<li>ASTM, BS, JIS, IS, DIN and all other common specifications.</li>
  </ol>
  </div>
  
  
  
  
</div>
   
   
   
   
   
   
</div>
</div>
