	
	
	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1>Copper Manifold & Header Assembly</h1>
			
			</div>   
				</div>

	
	</div>	
			
	 </div>
		
		
	<div class="container">
		
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
	<li><a routerLink="/home">Home</a></li>
	<li>Bending & Fabrication</li>
  <li>Copper Manifold & Header Assembly</li>
	
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	


	
	
  <div class="container">
   <div class="row">

	   
   <div class="col-lg-3">
    <app-submenu></app-submenu>
    
	</div>
	   
	   
	   
  <div class="col-lg-9">
	

	
	
	
<img class="img-fluid mb-3" src="./assets/images/COPPER-MANIFOLD-&-HEADER-AS.jpg" alt="COPPER-MANIFOLD-&-HEADER-AS"/> 
	
	  
	  <p class="text-justify">	
Tube Tech has developed over the years to manufacture very unique and innovative Custom tube assemblies to suit our Customer’s requirements. Our superior quality Copper Manifolds & Header Assemblies find applications in various industrial processes such as HVAC, refrigeration, fluid distribution, air pressure lines, and plumbing etc. Our stringent quality practices and continuous thrust on Customer satisfaction ensures that each Copper Tubing Manifold and Each Copper Header Assembly is made to the highest quality standards.
 </p>
	  

	  	  <p class="text-justify">	

All holes on the manifold are punched with collars to provide the highest brazing strength. All brazing is done with purged nitrogen and thoroughly cleaned to eliminate any contamination. All finished copper sub-assemblies are thoroughly inspected throughout the fabrication process to ensure the highest dimensional accuracy. Each sub-assembly is pressurized to ensure that all brazed joints are leak proof.

			  
			   </p>
	  
	  
	  

	  
	  
	  
	  
	  
	  
	 	
	   
	   
	   

	   
</div></div></div>
