<div class="card submenu">
        
         <div id="accordion" class="accordion">
        <div class="card mb-0">
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
               <a class="card-title">Copper Tubes </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="product_list">
               <ul>
                

                   <li><a  routerLink="/smooth-tubes/copper-tubes">Copper Tubes</a></li>
                    <li><a routerLink="/smooth-tubes/copper-tubes/copper-coils">Copper Coils</a></li>
                    <li><a routerLink="/smooth-tubes/copper-tubes/pvc-coated-copper-tubes">PVC Coated Copper Tubes</a></li>
                    <li><a routerLink="/smooth-tubes/copper-tubes/copper-helical-coils">Copper Helical Coils</a></li>
                    <li><a routerLink="/smooth-tubes/copper-tubes/copper-fittings">Copper Fittings</a></li>
                    </ul>
                    
                    </div>
            </div>
         
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <a class="card-title">Brass Tubes</a>
            </div>
            
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="product_list">
               <ul>
                <li><a routerLink="/smooth-tubes/brass-tubes/">Brass Tubes</a></li>
                <li><a routerLink="/smooth-tubes/brass-tubes/aluminum-brass-tubes">Aluminum Brass Tubes</a></li>
                <li><a routerLink="/smooth-tubes/brass-tubes/admiralty-brass-tubes">Admiralty Brass Tubes</a></li>
                <li><a routerLink="/smooth-tubes/brass-tubes/copper-alloy-tubes">Copper Alloy Tubes</a></li>
                </ul>
                    </div>
            </div>
            
        
            
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <a class="card-title">Cupro Nickel Tubes </a>
            </div>
            
            
            
           <div id="collapseThree" class="collapse" data-parent="#accordion">

               
                <div class="product_list">
                      
                    <ul>
                         
                        <li><a routerLink="/smooth-tubes/cupro-nickel-tubes">Cupro Nickel Tubes</a></li>
                        <li><a routerLink="/smooth-tubes/cupro-nickel-tubes/cupro-nickel-tubes9010">90/10 Cupro Nickel Tubes</a></li>
                        <li><a routerLink="/smooth-tubes/cupro-nickel-tubes/cupro-nickel-tubes7030">70/30 Cupro Nickel Tubes</a></li>
                    </ul></div> </div>
          
        
    

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <a class="card-title">Heat Exchanger Tubes</a> </div>
        
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="product_list">
                           <ul>
                            <li><a routerLink="/smooth-tubes//heat-exchanger-tubes/">Heat Exchanger Tubes</a></li> 

                        </ul>
                    </div></div>




            
                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                <a class="card-title">Square Tubes</a>
            </div>
            
            
            
           <div id="collapseFive" class="collapse" data-parent="#accordion">
     
                <div class="product_list">
               <ul>
                
                <li><a routerLink="/smooth-tubes/square-tubes/">Square Tubes</a></li>
                <li><a routerLink="/smooth-tubes/square-tubes/rectangular-tubes">Rectangular Tubes</a></li>
                <li><a routerLink="/smooth-tubes/square-tubes/hxagonal-tubes">Hexagonal Tubes</a></li>
                <li><a routerLink="/smooth-tubes/square-tubes/brass-octagonal-tubes">Brass Octagonal Tubes</a></li>
                <li><a routerLink="/smooth-tubes/square-tubes/special-profile-tubes">Special Profile Tubes</a></li>
                   
                </ul>
                    </div>
               
            </div>			
            
            


            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                <a class="card-title">Bimetallic Tubes</a>
            </div>

             <div id="collapseSix" class="collapse" data-parent="#accordion">
                <div class="product_list">
                    <ul><li>Bimetallic Tubes</li></ul>
 			
            </div>
               </div>		
            
            
            
            
            
            
            
            
            
            
        </div>
    </div>		 
        </div>
      