<div class="card submenu">
    <h4>Sub Menu</h4>
		
		 <div id="accordion" class="accordion">
        <div class="card mb-0">
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
               <a class="card-title">Bending &amp; Fabrication </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
				<div class="product_list">
               <ul>
 					<li><a routerLink="/bending-fabrication/pipe-bends">Pipe Bends</a></li>
                  <li><a routerLink="/bending-fabrication/u-tubes">U Tubes</a></li>
                  <li><a routerLink="/bending-fabrication/complex-piping-systems">Complex Piping Systems</a></li>
                  <li><a routerLink="/bending-fabrication/copper-manifold-header-assembly">Copper Manifold &amp; Header Assembly</a></li>
                  <li><a routerLink="/bending-fabrication/copper-brass-sleeves">Copper &amp; Brass Sleeves</a></li>
                  <li><a routerLink="/bending-fabrication/tubes-with-formed-ends">Tubes with Formed Ends</a></li>
                  <li><a routerLink="/bending-fabrication/copper-fittings">Copper Fittings</a></li>
				   
                  <li><a href="#">Forged Flanges</a>
                      <ul class="ml-1 ">
                        <li class="border-0"><a routerLink="/bending-fabrication/forged-flanges/forged-flanges-geometry"><i class="fa fa-angle-right" aria-hidden="true"></i> Forged Flanges : Geometry</a></li>
                        <li class="border-0"><a routerLink="/bending-fabrication/forged-flanges/cupro-nickel-flange"><i class="fa fa-angle-right" aria-hidden="true"></i> Cupro Nickel Flanges</a></li>
                        <li class="border-0"><a routerLink="/bending-fabrication/forged-flanges/copper-flanges"><i class="fa fa-angle-right" aria-hidden="true"></i> Copper Flanges</a></li>
                        <li class="border-0"><a routerLink="/bending-fabrication/forged-flanges/composite-flanges"><i class="fa fa-angle-right" aria-hidden="true"></i> Composite Flanges</a></li>







                      </ul>
                  </li>
				   
				   
                </ul>
       
					
					</div>
            </div>
        
			
        </div>
    </div>		 
        </div>
	  
