	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1>Integral Fin Tubes</h1>
			
			</div>   
				</div>


				

		
	</div>	
			
	 </div>
		
		
	<div class="container">
		
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
	<li><a routerLink="/home">Home</a></li>
	  <li>Fin Tube</li>
	<li>Integral Fin Tubes</li>
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	
		
  <div class="container">
   <div class="row">

	   
   <div class="col-lg-3">
<app-sub-menu></app-sub-menu>
	   
 </div>
	   
	   
	   
 <div class="col-lg-9">
	
	
    <img class="img-fluid mb-3" src="./assets/images/integral-fin-tubes.jpg" alt="integral-fin-tubes"/>



<p class="text-justify">	
<b>Tube Tech</b> manufactures integral low fin tubes with superior dimensional control in Copper, Brass, Cupro Nickel, Stainless Steel & Carbon Steel tube materials for a wide variety of heat transfer applications. Our facilities are capable of producing all types of integral low fin tubes / integral medium fin tubes and integral high fin tubes to suit every customer’s specific requirements. These integral fin tubes are fabricated in alloy C 12200 to meet the chemical, mechanical and other test parameters of ASTM B 75 / B 359 and in alloy 44300 / 68700 / 70600 & 71500, SA 179, SS 304, SS 316 & SS 316L to meet the chemical, mechanical and other test parameters of ASTM B 111 / SB 359. BS EN, JIS and DIN standards are also available on request.



</p>	


<h4>Fin Parameters:-</h4>
<table class="table table-striped table-bordered">
<tbody><tr>
<td><strong>Tube Dia</strong></td>
<td><strong>Wall Thickness</strong></td>
<td><strong>Fin Density</strong></td>
<td><strong>Fin Dia</strong></td>
<td><strong>Fin Depth</strong></td>
<td><strong>Root Dia</strong></td>
<td><strong>Wall Thickness under Fins</strong></td>
</tr>
<tr>
<td>19.05 mm</td>
<td>2.11 mm</td>
<td>16 to 42 FPI</td>
<td>18.80 mm</td>
<td>1.60 mm</td>
<td>15.60 mm</td>
<td>1.45 mm</td>
</tr>
<tr>
<td>19.05 mm</td>
<td>1.65 mm</td>
<td>16 to 42 FPI</td>
<td>18.80 mm</td>
<td>1.60 mm</td>
<td>15.60 mm</td>
<td>1.15 mm</td>
</tr>
<tr>
<td>19.05 mm</td>
<td>1.47 mm</td>
<td>16 to 42 FPI</td>
<td>18.80 mm</td>
<td>1.52 mm</td>
<td>15.76 mm</td>
<td>0.90 mm</td>
</tr>
<tr>
<td>19.05 mm</td>
<td>1.32 mm</td>
<td>16 to 42 FPI</td>
<td>18.80 mm</td>
<td>1.45 mm</td>
<td>15.90 mm</td>
<td>0.80 mm</td>
</tr>
<tr>
<td>19.05 mm</td>
<td>1.24 mm</td>
<td>16 to 42 FPI</td>
<td>18.80 mm</td>
<td>1.30 mm</td>
<td>16.20 mm</td>
<td>0.65 mm</td>
</tr>
<tr>
<td>15.87 mm</td>
<td>2.11 mm</td>
<td>16 to 42 FPI</td>
<td>15.70 mm</td>
<td>1.60 mm</td>
<td>12.50 mm</td>
<td>1.45 mm</td>
</tr>
<tr>
<td>15.87 mm</td>
<td>1.65 mm</td>
<td>16 to 42 FPI</td>
<td>15.70 mm</td>
<td>1.60 mm</td>
<td>12.50 mm</td>
<td>1.15 mm</td>
</tr>
<tr>
<td>15.87 mm</td>
<td>1.47 mm</td>
<td>16 to 42 FPI</td>
<td>15.70 mm</td>
<td>1.52 mm</td>
<td>12.66 mm</td>
<td>0.90 mm</td>
</tr>
<tr>
<td>15.87 mm</td>
<td>1.32 mm</td>
<td>16 to 42 FPI</td>
<td>15.70 mm</td>
<td>1.45 mm</td>
<td>12.80 mm</td>
<td>0.80 mm</td>
</tr>
<tr>
<td>15.87 mm</td>
<td>1.24 mm</td>
<td>16 to 42 FPI</td>
<td>15.70 mm</td>
<td>1.30 mm</td>
<td>13.10 mm</td>
<td>0.65 mm</td>
</tr>
<tr>
<td>12.70 mm</td>
<td>1.65 mm</td>
<td>16 to 42 FPI</td>
<td>12.55 mm</td>
<td>1.35 mm</td>
<td>9.85 mm</td>
<td>1.15 mm</td>
</tr>
<tr>
<td>12.70 mm</td>
<td>1.47 mm</td>
<td>16 to 42 FPI</td>
<td>12.55 mm</td>
<td>1.25 mm</td>
<td>10.05 mm</td>
<td>0.90 mm</td>
</tr>
<tr>
<td>12.70 mm</td>
<td>1.32 mm</td>
<td>16 to 42 FPI</td>
<td>12.55 mm</td>
<td>1.18 mm</td>
<td>10.19 mm</td>
<td>0.80 mm</td>
</tr>
<tr>
<td>12.70 mm</td>
<td>1.24 mm</td>
<td>16 to 42 FPI</td>
<td>12.55 mm</td>
<td>1.05 mm</td>
<td>10.45 mm</td>
<td>0.65 mm</td>
</tr>
</tbody></table>






  <ul>
<li>For calculation of surface area of fin tubes, please contact us.</li>
<li>For Fin parameters of 22.2 mm, 25.4 mm tube or any other special requirements please contact us.</li>
<li>Integral low / medium / high fin tubes with fin density other than mentioned in the above chart can be produced on request.</li>
<li>For tube parameters of medium and high fin tubes of any size between 12.7 mm outer diameter to 25.4 mm outer diameter, please contact us.</li>

<li>Integral Fin Tubes are generally supplied in the “as finned” condition. Brass Fin Tubes,  Cupro Nickel Fin Tubes, Carbon Steel Fin Tubes & Stainless Steel Fin Tubes can be supplied in “annealed” temper upon specific request.</li>

    <li>  Integral Fin Tubes are generally produced with desired plain ends, tubes can also be fabricated with intermediate landings upon specific request.</li>

    <li>  Integral Fin Tubes are produced in straight length up to 10 Meters. Bigger lengths can be accommodated on request.</li>


   
 </ul>  



<p><strong>End Application: </strong> Heat exchangers, air condensers and air pre-heaters, Oil Coolers, process coolers, refrigerant evaporators etc.

</p> 
 
 
 </div>
 
	   
	   
	   
	   
	   
</div>
</div>
