<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>About Tube Tech Copper & Alloys</h1>
        </div>   
            </div>

    
</div>	
        
 </div>
    
     <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
<li><a routerLink="/home">Home</a></li>
<li>About Company</li>


</ul>
       
</div>	
        
 </div> </div>	

    </header>




    <div class="container">
        <div class="row">
            
       <div class="col-lg-3">
            
       <app-about-sub></app-about-sub>
         </div>
            
            
            
       <div class="col-lg-9">
       
              <p class="text-justify">
           Tube Tech is a Customer focused, innovative and value driven company which manufactures all types of Copper and Copper alloy smooth surface tubes (plain tubes) and extended surface tubes (Finned Tubes) for heat transfer solutions. We offer a broad range of smooth and enhanced surface tubes which include:  <strong>Round – Square – Rectangular – Hexagonal – Octagonal – Special Profile shapes of Copper Tubes, Brass Tubes & Cupro Nickel Tubes ⟡ Integral Low Fin Tubes ⟡ Medium Fin Tubes and high Fin Tubes with or without internal ridges ⟡ Turbo Chill Tubes ⟡ Corrugated Tubes ⟡ End Cross Tubes ⟡ Internally Enhanced Copper Tubes ⟡ U Tubes ⟡ Copper & Brass Sleeves ⟡ Cupro Nickel Piping Systems ⟡ Copper Flanges & Cupro Nickel Flanges ⟡ Copper Tube Assembly ⟡ Copper Return Bends ⟡ Copper Fittings ⟡ Brass Rods ⟡ Copper Fabricated Tubes ⟡ Tubes with end forming and many more innovative tabular products…
           </strong></p>
     
          
            
           <p class="text-justify">With innovation and continuous improvement at the heart of its business performance Tube Tech aims to create value by offering a differentiated product range supported by unrivalled Customer service in the field of heat transfer industry. Since inception, we have continuously emphasized on putting in significant investment in the research and development in order to produce quality smooth and enhanced surface products for a wide variety of heat transfer and thermal management applications.
     
     </p>
           
           
           <p class="text-justify">
             Over the years Tube Tech have grown steadily to become leading Finned Tube and Plain Tube supplier of Copper, Brass and Cupro Nickel tube material with a plant capacity to produce 35000 Meters Finned Tubes per month and about 20000 Kgs Copper and Copper Alloy Tubes + Tabular Products per month. With tube diameters ranging from 9.52 mm to 25.4 mm and Fin Density from 16 FPI to 48 FPI, we can accommodate almost any enquiry for Finned Tubes. Fin Tubes can also be ordered bent into “U” Tubes, if required.
             </p>  
           
           
               
           <p class="text-justify">
             Today, we have an unrivalled reputation for building robust, intelligent tabular products for all industrial and commercial heating and cooling applications, transmission systems, and marine applications. But our goal is to be more than just successful. It is to be admired for our culture and for the quality, service and management standards that implies. Nothing else will do!
     </p>    
           
         <hr>  
           
      <div class="float-left mr-4"><button type="button" class="btn btn-danger btn-circle btn-xl "><h1><i class="fa fa-eye" aria-hidden="true"></i></h1></button></div>
           
           
           <p><strong>Vision Statement</strong><br>
     
     To evolve and position Tube Tech as a world class, progressive, cost-effective and Customer friendly organization.
     </p>
         
         <div class="clearfix mt-3"></div>  <br>
            <div class="float-left mr-4">
                <button type="button" class="btn btn-danger btn-circle btn-xl "><h1><i class="fa fa-bullseye" aria-hidden="true"></i></h1> </button> 
     </div>
     
           
         <p class="text-justify"> <strong>Mission Statement</strong><br>
     
     To evolve and position Tube Tech as a world class, progressive, cost-effective and Customer friendly organization.
     </p>  
           <br>
     
             <hr>    
               <div class="clearfix mt-3"></div> 
     
           <div class="float-right ml-4"><img src="assets/images/value.jpg" class="img-fluid" alt="value"/></div>
           
           <p class="text-justify"> 
     <strong>Values</strong><br>
     We are Customer oriented, Time – Bound, Quality – Conscious, 
     Reliable and consider it our privilege to ensure that every interaction with our Customers 
     bears an imprint of our values in their minds.
     </p>
           
          
           
           
           
         </div>
            
            
            
            
            
            
     </div>
     </div>
         
         
         
         