	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1>Complex Piping Systems</h1>
			
			</div>   
				</div>

	
	</div>	
			
	 </div>
		
		
	<div class="container">
		
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  	<li>Bending & Fabrication</li>
  <li>Complex Piping Systems</li>
	
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	

	

  <div class="container">
   <div class="row">

   <div class="col-lg-3">
    <app-submenu></app-submenu>

	 
	</div>
	   
	<div class="col-lg-9">
	

        <img class="img-fluid mb-3" src="./assets/images/COMPLEX-PIPING-SYSTEMS.jpg" alt="U-TUBES"/> 
            
              
              <p class="text-justify">	
        Tube Tech offers Copper, Brass &nbsp; Cupro Nickel Piping Systems &nbsp; Complex Connections for the Air Conditioning, Refrigeration, Oil Gas Connections, Marine Applications, Fluid Lines and other engineering applications. Tube Tech produces piping systems and components that require various bending operations, machining operations, welding operations, brazing operations, captive components or a combination of all above items. We also manufacture and supply tube assembly fitted with flanges, bushes and other components as per the requirements specified by the Customer that make them more complete and ready to use by our Customers.
        
                     </p>
              
        
                    <p class="text-justify">	
              Our facilities are capable of fabricating from simple fluid lines to complex welded &nbsp; brazed machined components with tight tolerances for specific requirements of our Customers. Metal Tube Assemblies &nbsp; Metal Tube connections manufactured by Tube Tech help our Customers improve and simplify their manufacturing processes and also help them lower cost and improve bottom line to a greater degree than traditional outsourcing.
        
        
                      
                       </p>
              
              
                         <p class="text-justify">	 
        All the fabricated Copper tube assemblies, Brass Tube Assemblies &nbsp; Cupro Nickel Tube Assemblies are regularly checked &nbsp; inspected at various stages on suitable fixtures & gauges specifically designed and fabricated for that particular requirements to check their compliance with the required tolerance range. This process ensures that only those fabricated tube assemblies who confirm to the required tolerance range are shipped to the Customer which ensures a hassle free installation at Customer’s end.
        
              
              </p>
        
              
        
              
              
              
              
              
              
              
              
        
          <div class="jumbotron">
             <h4> Product Details :</h4>
              
              <ul class="ml-0 pl-0  mb-0">
        <ul>
        <li><strong>Tube Sizes : </strong>1/2” diameter to 3” diameter with wall thickness 1 mm and above</li>	
        <li><strong>Bending Radius :</strong> 1.5 X Tube Diameter and above</li>
        <li><strong>Length :</strong> Up to 8 mtrs</li>
        <li> <strong>Bend Angle & Orientation : </strong>As required by Customer</li>
        <li><strong>Flange & Bush Orientation: </strong> As required by Customer</li>
        
         
            
                
                
        </ul>
                
                
                
                
          </ul>
        
        
        
        
              
              
              
              
              
              
              
              
              
          </div>	
               
               
               
        
               
        </div>   
	   
 

</div></div>