<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>Cupro Nickel Tubes</h1>
        </div>   
            </div>

    
</div>	
        
 </div>
    
          <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li>Smooth Tubes</li>
<li>Copper Alloy Tubes</li>
</ul>

</div>	
        
 </div> </div>	
</header>


	
<div class="container">
    <div class="row">
 
        
   <div class="col-lg-3">
        
    <app-submenu></app-submenu>
 
       
       
 
       
       
       
        
     </div>
        
        
        
   <div class="col-lg-9">
        
       <div class="row">
       
           <div class="col-lg-10">
           
           <img class="img-fluid rounded  mb-2 img-thumbnail" src="./assets/images/Cupro-Nickel-Tubes-01.jpg"  alt="thumb"/> 
           
           </div>
           
           
           <div class="col-lg-6 align-self-center text-justify"> </div>
             
 
 
             
           
     
       </div>
       
       <p class="text-justify">
     Tube Tech produces a vast range of cupro nickel tubes to satisfy all customer requirements in terms of outer diameter, wall thickness and tempers to suit the intended applications. The cupro nickel tubes are available in a variety of combinations, the main combinations manufactured by Tube Tech are:</p>
 
 
 
 
 
 
 
  
 <ol style="margin-left: 14px; padding: 0px; text-align: justify">
     <li>Cupro Nickel Tubes 90/10</li>	
     <li>Cupro Nickel Tubes 70/30 </li>	
     
 
     </ol>
       
             <p class="text-justify">
      This alloy has very high erosion and corrosion resistance. It has very high weld ability, easy for installation and high antifouling properties against sea microorganisms. Relatively high iron content provides better impingement attack resistance. The alloy is unique to stress corrosion cracking. This form of copper alloy gives the best service life under the most adverse conditions.
  </p>
       
       
       
       
       
           <h4 class="mt-3">Standards</h4>
       
       
 
           <div class="table-responsive">
       
  <table class="table table-bordered">
 
   <tr>
     <th rowspan="2" valign="bottom" class="jumbotron">Cupro Nickel  Tube 90/ 10
 
 
 
 
 </th>
       
 <td><b>Standard</b></td>
     <td>BS2871part3</td>
     <td>SB – 111 / 359 / 395 /466</td>

     <td>IS 1545</td>
     <td>JIS H 3300 </td>
      <td> NFA 51 102</td>
      <td>  NES779</td>
 
 
   </tr>
      
   <tr>
       
    <td><b>Symbol</b></td>
     <td>CN 102 </td>

     <td>C 70600</td>
     <td>CuNi10Fe1</td>
     <td>C7060</td>
       <td> CuNi10Fe1Mn</td>
       <td>   Part 3</td>
   </tr>
      
      
   <tr>
     <th rowspan="2"  class="jumbotron">Cupro Nickel Tubes 70/30
 </th>
       
 <td><b>Standard</b></td>
     <td>BS2871part3 </td>
     <td>ASTM B-111 </td>   
     <td>IS 1545</td>
     <td>JIS H 3300</td>
     <td>  NFA 51 102</td>
     <td> NES780</td>
        
   </tr>
      
      
   <tr>
       
    <td><b>Symbol</b></td>
    <td>CN 107</td>
     <td>C 71500</td>
     <td>CuNi30Mn1Fe</td>
     <td>C 7150</td>
     <td>CuNi30Mn1Fe</td>
     <td>Part 3</td>
   </tr>	 
    
      
      
      
      
      
      
      
 </table>
      
       </div>
             
             
   <div class="jumbotron">
      <h4> Dimensional Range</h4>
       
       <ol  class="mb-0">
  <li><strong>Outer Diameter</strong> - 4.00 to 35.00 mm	</li>
  <li><strong>Wall Thickness</strong> - Between 0.4 mm and 2.11 mm	</li>
  <li>Available in <strong>length up to 30 meters.</strong>	</li>
 <li>Length upto 8 mtrs</li>
 <li>Tempers: Light drawn & Annealed</li>
       </ol>
  </div>  
       
       
 <p><strong>End Applications</strong><br>
    Heat Exchangers, Oil Coolers, Radiators, High Capacity Power Plants, Ship Building & Ship Repairs, Condensers, Offshore Oil rigs, Distiller Tubes, Evaporators, Ferrules etc.
</p>  
  
       
 </div>
      
        
 </div>
 </div>