
	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12">
				<h1>90/10 Cupro Nickel Tubes</h1>
			</div>   
				</div>

		
	</div>	
			
	 </div>
		
	
		<div class="container">
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  	<li>Smooth Tubes</li>
  <li><a href="#">Cupro Nickel Tubes</a></li>
	<li>90/10 Cupro Nickel Tubes</li>
	
</ul>

	
			
	</div>	
			
	 </div> </div>	
</header>
    

<div class="container">
    <div class="row">
 
        
   <div class="col-lg-3">
    <app-submenu></app-submenu>
     
     </div>
        
        
        
   <div class="col-lg-9">
        
       <div class="row">
       
           <div class="col-lg-9">
           
           <img class="img-fluid rounded mb-3 img-thumbnail" src="./assets/images/90-10-Cupro-Nickel-Tubes.jpg"  alt="thumb"/> 
           
           </div>
           
           
             
 
 
             
           
     
       </div>
       
 
       
       
<p class="text-justify">

 This form of cupro nickel tubes produced by Tube Tech possess excellent resistance to corrosion by sea water as well as high resistance to erosion 
 corrosion and air-impingement attack. The addition of iron results in 90/10 performing as good as 70/30 in salt water service heat exchangers. 
 These 90/10 Cupro Nickel tubes have good strength and ductility at ordinary temperatures and relatively high strength 
 and other mechanical properties at elevated temperatures.
 </p>
 
 <p class="text-justify">
 These 90/10 cupro nickel tubes are widely used in condensers, coolers and heat exchangers where resistance to corrosion and erosion is paramount, yet maintaining a high thermal conductivity rate. To be used preferably in marine conditions.
 </p>
 
<p class="text-justify">
 These 90/10 cupro nickel tubes are produced in a range of outside diameter, wall thickness various temper conditions to achieve the required mechanical properties and grain size. The mechanical and dimensional characteristics of our products satisfy the most demanding orders that require tight tolerances.
 
 </p>
  
  
       
       
       
       
 </div>
        
        
        
        
        
        
 </div>
 </div>