	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1>Copper &amp; Brass Sleeves</h1>
			
			</div>   
				</div>

	
	</div>	
			
	 </div>
		
		
	<div class="container">
		
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
	<li><a routerLink="/home">Home</a></li>
	<li>Bending & Fabrication</li>
  <li>Copper &amp; Brass Sleeves</li>
	
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	


	
	
  <div class="container">
   <div class="row">

	   
   <div class="col-lg-3">
    <app-submenu></app-submenu>
	</div>
	   
	   
	   
  <div class="col-lg-9">
	
<img class="img-fluid mb-3" src="./assets/images/COPPER-and-BRASS-SLEEVES.jpg" alt="COPPER-MANIFOLD-&-HEADER-AS"/> 
	
	  
	  <p class="text-justify">	
Tube Tech produces a comprehensive range of precision Copper Sleeves and Brass Sleeves to cater the specific requirements of our customers. Customized as per the given specification by the customer, these copper crimping sleeves and Brass Crimping Sleeves are appreciated for their excellent quality and performance. These sleeves can also be supplied with tin or nickel plating depending upon the specific requirement of the clients. The main features of these crimping sleeves are their wear resistance capabilities and ability to withstand high temperatures. Copper Sleeves / Brass Sleeves are available in outer diameters 6 mm to 50 mm with wall thickness 0.3 mm and above.


 </p>
	  

	  <p class="text-justify mb-0"><strong>The main features of these sleeves are:</strong></p>

	<ul class="pl-0 ml-3  mb-0">
	  
	  <li>
Dimensionally accurate - Precision engineered</li>
  <li>Available in different sizes as per the requirements</li>
  <li>Wear resistant</li>
  <li>Able to withstand high temperatures</li>
  <li>Resistance to corrosion and abrasion</li>
</ul>  
	 
	  
	<p class="text-justify">Apart from the sizes mentioned above, our facilities are geared to replicate the entire range of tabular sleeves of Copper and Brass.</p>
	<p class="text-justify"><strong>End Applications: </strong>Automobiles, electrical applications, ignition systems etc. </p>

	   
	   

	   
</div></div></div>
