	
<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>Copper Tubes</h1>
        </div>   
            </div>
</div>	
        
 </div>
    
          <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
<li><a href="index.html">Home</a></li>
  <li href="#">	Smooth Tubes</li>
<li>Copper Tubes</li>
</ul>


        
</div>	
        
 </div> </div>	
</header>





<div class="container">
    <div class="row">
 
        
    <div class="col-lg-3">
        <app-copper-submenu></app-copper-submenu>

        
              
        
     </div>
        
        
        
   <div class="col-lg-9">
        
       <div class="row">
       
           <div class="col-lg-12">
           
           <img class="img-fluid rounded mb-2 img-thumbnail" src="assets/images/copper-tubes-product.jpg"  alt="thumb"/> 
           
           </div>
        
       
       </div>

<p>

    <strong>Tube Tech</strong>
    manufactures all types, sizes, shapes and tempers of copper tubes in full accordance with the appropriate product standards. Customers specify our products when quality and performance count.
 
</p>
       
       
       
       <h4 class="mt-3">Standards</h4>
       
       
 
       <table class="table table-bordered ">
 
        <tr class="my_table" >
          <th rowspan="2" valign="bottom" class="jumbotron">Phosphorus Deoxidized Copper (DLP)	
      </th>
            
          <td><b>Standard</b></td>
          <td>SB – 75, 111, 359, 395</td>
          <td>BS 2871</td>
          <td>JIS H 3300</td>
          <td>DIN 1787 </td>
          <td>IS: 1545 </td>
        </tr>
           
        <tr class="my_table" >
            
          <td><b>Symbol</b></td>
          <td>C 12000</td>
          <td>C 106</td>
          <td>C 1201</td>
          <td>SW–CU 25 </td>
          <td>Cu-DLP  </td>
        </tr>
           
           
        <tr class="my_table" >
          <th rowspan="2"  class="jumbotron">Phosphorus Deoxidized Copper (DHP)
      
      </th>
            
          <td><b>Standard</b></td>
          <td>SB- 68 / 75 / 111 / 280/ 359 / 395 /819 </td>
          <td>BS 2871</td>
          <td>JIS H 3300 </td>
          <td>DIN 1785 </td>
          <td>IS:2501, 10773, 14810 </td>
        </tr>
           
           
        <tr class="my_table" >
            
           <td><b>Symbol</b></td>
            
          <td>C -12200</td>
          <td>C 106</td>
          <td>C 1220</td>
          <td>C 1220</td>
          <td>Cu-DHP</td>
        </tr>	 
           
           
           
           
           
           
       
        <tr class="my_table" >
          <th rowspan="2"  class="jumbotron"> Tough Pitch Copper (ETP)</th>
            
          <td><b>Standard</b></td>
          <td>ASTM B-188 </td>
          <td>BS 2871 </td>
          <td>JIS H 3300 </td>
          <td>DIN 1787 </td>
          <td>IS:2501</td>
     
     
        </tr>
           
           
        <tr class="my_table" >
            
         <td><b>Symbol</b></td>
          <td>C 11000</td>
          <td>C 101</td>
          <td>C 1100</td>
          <td>ECU 58</td>
          <td>Cu-ETP</td>
     
        </tr>	 	 
     
      </table>
      
   <div class="jumbotron">
      <h4> Dimensional Range</h4>
       
       <ol class=" mb-0">
  <li><strong>Outer Diameter</strong> -  - 4.00 mm to 75.00 mm.</li>
  <li><strong>Wall Thickness</strong> - 0.30 mm and above.	</li>
  <li>Available in <strong>length up to 30 meters.</strong>	</li>
  <li>Produced in a <strong>variety of tempers</strong> (viz. hard, half hard, quarter hard and soft annealed) depending upon the specific requirement.	</li>
  <li><strong>Standards other than those mentioned above</strong> are also available on request.	</li>

</ol>
       
       
        
       
       
   </div>
       
       
 <p class="text-justify">	
       
       <strong>End Uses:</strong><br>
       Air conditioning and Refrigeration, Heat exchangers, Condensers, Evaporators, Plumbing & Sanitation, Medical & Gas applications, Solar applications, Oil burner tubing, Steam, Water, Air and Hydraulic lines, Automobiles, Chemicals & Fertilizers, Thermal power plant, Petrochemical & Oil refinery, Brewery tubes, Gas lines, Vapour lines, Locomotives etc.
       </p> 
       
       <hr>
       
 <p class="text-justify">		  
 <strong>Copper Tubes for heat exchangers</strong><br>
 A tube manufactured to special requirements as to dimensional tolerances, finish and tempers for use in heat exchanger applications. These copper tubes are generally supplied in straight length in even annealed half hard temper. The copper tubes produced by <b>Tube Tech</b> not only have the tightest tolerances but also have the most consistent dimensions throughout the tube length. The tube surface is clean both inside and outside with no corrosive stains. The copper tubes produced by Tube Tech are compatible to transfer heat in a wide variety of operating conditions and to resist corrosion for the longest period of time possible under the harshest operating conditions.
  </p> 
 
  <hr>
       
 <p class="text-justify">	 	  
 <strong>Copper Tubes for Refrigeration</strong><br>
 We provide copper tubes with a complete range of outer diameter and wall thickness combinations, engineered to exact specifications to meet the highest standards of performance as required by the refrigeration and air conditioning industry. These copper tubes are available in a variety of tempers to suit the intended applications. These copper tubes can be supplied either in straight length or pancake coil as per the requirement. As demand for operating efficiencies increase, Tube Tech is your reliable source for precision and quality flow products to meet your objectives. Our products meet the highest industry standards and provide superior cleanliness for the contaminant-free transportation of refrigerants, oxygen and other gases.
  </p> 
       
  <hr> 
 <p class="text-justify">	  	  
 <strong>Copper Tubes for Air conditioning</strong><br>
 We provide copper tubes with a complete range of outer diameter and wall thickness combinations, engineered to exact specifications to meet the highest standards of performance as required by the refrigeration and air conditioning industry. These copper tubes are available in a variety of tempers to suit the intended applications. These copper tubes can be supplied either in straight length or pancake coil as per the requirement. As demand for operating efficiencies increase, Tube Tech is your reliable source for precision and quality flow products to meet your objectives. Our products meet the highest industry standards and provide superior cleanliness for the contaminant-free transportation of refrigerants, oxygen and other gases.
 
 
  </p> 	  
       
  <hr> 
             
 <p class="text-justify">		  
 <strong>Copper Tubes For Condensers</strong><br>
 A tube manufactured to special requirements as to dimensional tolerances, finish and tempers for use in condensers and heat exchangers. These copper tubes are generally supplied in straight length in even annealed half hard temper. The copper tubes produced by Tube Tech not only have the tightest tolerances but also have the most consistent dimensions throughout the tube length. The tube surface is clean both inside and outside with no corrosive stains. The copper tubes produced by Tube Tech are compatible to transfer heat in a wide variety of operating conditions and to resist corrosion for the longest period of time possible under the harshest operating conditions.
  </p> 	  
  <hr>
  
  
 <p class="text-justify">		  
 <strong>Copper Tubes for Boiler Applications:</strong><br>
 Tube Tech manufactures a complete range of Copper Tubes suitable for all types of Boiler Applications. These Copper Tubes are generally produced and supplied in straight length in even annealed half hard temper. The copper tubes produced by Tube Tech not only have the tightest tolerances but also have the most consistent dimensions throughout the tube length. These copper tubes are available in outer diameters 6 mm to 75 mm with wall thickness combinations 0.4 mm and above in length up to 12 mtrs making them suitable for boiler feed line applications.
 
 
  </p> 	  
             
  <hr>
       
       
 <p class="text-justify">	 	  
 <strong>Copper Tubes For Plumbing Applications</strong><br>
 <b>Tube Tech</b> prides itself on being the dependable supplier of superior flow products for the residential and commercial installations. We manufacture copper tubes for residential and commercial plumbing in full accordance with appropriate product standards including BS 2871 Part I, ASTM B 88 and stringent European Standards BS EN 1057:1996. We provide a complete range of sizes and types, engineered to exact specifications to meet the highest standards of performance suitable for water applications. The copper tubes manufactured by Tube Tech can sustain a temperature up to 660C with a long lasting service life, better flow characteristics, rust and scale free inside and virtually without any leakage coupled with easy bend ability, handling and installation.
   </p> 	 	  


 <p class="text-justify">	  
 Copper Tubes are specified in the BS 2871 / EN 1057 in three wall thicknesses designated under Table X, Y & Z.
   </p> 	 

   
   <p class="text-justify">	  
    At Tube Tech, we are poised to bring our customers an unsurpassed line of quality flow control products as per ASTM B 306 for the DWV industry. Tube Tech have brought together the best quality, smooth bore, hard drawn copper tubes in a variety of outer diameter and wall thickness combination to suit the desired application.
    </p> 	 	
  
  
     <hr>

     <hr>          
       
 <p class="text-justify">	  	  
 <strong>Copper Tubes For Medical Applications</strong><br>
 Tube Tech produces specially cleaned and degreased copper tube suitable for use in medical and industrial gas applications. These tubes are produced in accordance with ASTM B 819 and are rigorously tested to make sure they are suitable for the exacting requirements of critical medical and gas application industry. These copper tubes generally supplied in as drawn temper and are fitted with plastic caps after cleaning to maintain the allowable residue limit of 0.0035 g/sq. ft of interior tube surface area. Special care and handling is given to these tubes to prevent contamination of the system.
  </p> 	 
       
       
  <hr>
       
 <p class="text-justify">	 
 <strong>Copper Tubes For Heating Systems</strong><br>
 Quality copper tubes from Tube Tech are suitable for most heating applications, thanks to their conformity to all relevant standards. Tube Tech offers copper tubes which possess reliability, durability and positive health and ecological properties making them most suitable for all types of heating systems applications. These copper tubes are available in both types – Plain Copper Tubes & PVC Coated Copper Tubes.
  </p> 	 
             
     
       
  <hr>  
       
 <p class="text-justify">	
     <strong>Copper Tubes For Sanitary Applications:</strong><br>
 Tube Tech manufactures various types of Copper Tubes suitable for sanitary Drainage, Waste & Vent Systems often referred as ‘DWV’ Tubes. These tubes are generally manufactured in accordance with ASTM B 306, however these copper tubes can be manufactured in accordance with other common standards on request. These tubes are generally supplied in hard drawn tempers to suit their intended application.
  </p> 	
       
       
  <hr>   
                   
 <p class="text-justify">	
     <strong>Copper Tubes For Gas Applications</strong>
 <br>
 Tube Tech produces Copper Tube to BS EN 1057 - R250 (Previous Designation BS 2871: Part 1: Table X) in Half Hard Straight length. This product is supplied in 3 or 6 meter straight lengths in the half hard condition, an ideal temper for cold bending and forming. These Copper Tubes can be easily bent on an appropriate bending machine. Its ease of manipulating and relatively light weight, combine with its ability to withstand high internal pressure makes this type of copper tubes an ideal product for most central heating and gas services installations. This tube can also be supplied with PVC Coating in order to protect copper tube surface from the harsh outside environment in Industrial Gas Transportation, Natural Gas and liquid petroleum Gas Fuel distribution systems, Various Engineering applications. 
  </p> 	 
  <hr>
 <p class="text-justify">	  
 <strong>Copper Tubes For Industrial Applications</strong><br>
 Tube Tech offers its customers a wide range of high quality copper tubes that are designed to meet the needs of individual industrial applications. These Copper Tube sets the standard for quality, consistency and service in the field of Industrial Applications. With a full line of both plain copper tubes and pvc coated copper tube, our ongoing commitment to quality continues to make our copper tube products the preferred and specified brand for industrial applications.
  </p> 		  
 
       
  <hr>  
       
     <p class="text-justify">	  
 <strong>Copper Tubes For General Engineering Purposes</strong><br>
 Copper tube is used in general engineering purposes mainly because of its thermal conductivity, electrical conductivity, malleability, strength and corrosion resistance. Tube Tech produces a vast range of copper tubes to satisfy all customer requirements in term of diameter, thickness, tolerance and tempers complying with all the most important national and international standards. Our range of copper tubes possesses roundness, straightness, uniformity of the wall thickness, smooth inner and outer surface to make it the ideal choice for general engineering applications. 


</p> 		   
       
<hr>  
     
 <p class="text-justify">	<strong>Copper Tubes For Solar Applications</strong><br>
 
 To meet the ever increasing demand of copper tubes for the emerging market of solar water heating systems Tube Tech produces seamless drawn copper tubes in half hard temper and a variety of outer diameter and wall thickness combinations. These tubes are supplied in straight length, cut to the specific sizes to avoid wastage.
  
  </p> 	 
  <p class="text-justify">
  Tube Tech offers its customers an ultra clean surface copper tube suitable for all solar thermal absorbers where good welding properties and quality is paramount and hence it is the recommended choice, especially when using ultrasonic or laser welding technology. Our products ensure reduced welding time and increased efficiency of your manufacturing process while saving time and money due to fewer cleaning processes.
</p> 	 

            
<hr>
       
 <p class="text-justify"><strong>Copper Tubes For Electrical Applications:</strong>
 <br>
 Copper has been used in the electrical industry for many years because it offers excellent electrical conductivity. Copper is also used as lightening arrester in the electrical transformers. It is very efficient leading to high current densities. These tubes are available in a wide range of outer diameter, wall thickness and temper conditions depending upon the requirement to suit the intended applications. We produce Electrolytic Grade Copper Tubes - ETP Grade Copper Tubes specially manufactured for Copper Lugs & Copper Cable Lugs applications.
  </p> 	 
  <hr>
 
 <p class="text-justify">	
 <strong>Copper Tubes For Chemical Applications:</strong><br>
 Copper Tubes fabricated by Tube Tech find its uses in Chemical applications for carrying fluid lines. For harsh environment, PVC Coated copper coils are used. We produce specially cleaned copper tubes suitable for chemical applications. Tubes are available in a variety of sizes and tempers – with or without PVC Coating to suit the intended application.
 </p>	  
       
       
       
       
       
 </div>
        
        
        
        
        
        
 </div>
 </div>