	
	<header>

		<div class="inner_banner">
			<div class="container d-flex h-100">
		<div class="row align-self-center">
			<div class="col-lg-12 ">
			<h1>Pipe Bends</h1>
			
			</div>   
				</div>

	
	</div>	
			
	 </div>
		
		
	<div class="container">
		
   <div class="row">
	   
  <div class="col-lg-12">

<ul class="breadcrumb">
	<li><a routerLink="/home">Home</a></li>
	<li>Bending & Fabrication</li>
  <li>Pipe Bends</li>
	
</ul>

	
			
	</div>	
			
	 </div> </div>		
	
</header>
	

  <div class="container">
   <div class="row">

   <div class="col-lg-3">
    <app-submenu></app-submenu>

	 
	</div>
	   
	   
	   
  <div class="col-lg-9">

	
<img class="img-fluid mb-3" src="./assets/images/PIPE-BENDS.jpg" alt="PIPE-BENDS"/> 
	
	  
	  <p class="text-justify">	
	Pipe Bends &amp; Tube Bends offered by Tube Tech are produced using superior quality copper tubes, Brass Tubes & Cupro Nickel Tubes and finds suitability in connecting pipelines in cooling and heating applications &amp; Fluid Systems. Other than this, these tube bends &amp; Pipe Bends also find suitability for use in refrigeration and air-conditioning system. These Tube Bends &amp; Pipe Bends are produced as per the customer’s drawings and requirements. Well defined quality control procedures are put in place to ensure premium product quality first time – every time. Tube Bends &amp; Pipe Bends are regularly checked on fixtures &amp; gauges during the production process to control any deviations from required values.

	  </p>
  <p class="text-justify">	
Tube Bends &amp; Pipe Bends are available in outer diameters 6 mm to 75 mm and can be bent on bending radius 1.5 D and above. We are capable of producing closed radius bends even with bending radius 1.25 X Diameter.

 	  </p>
  <p class="text-justify">	
Tube Tech offers custom tube bending and pipe bending services to meet your specifications. With the latest tube bending technology we can bend up to 3" Outer diameter tubes in Copper, Brass, Cupro Nickel, Stainless Steel &amp; Carbon Steel Tube materials. Tube Fabrication services including end-forming and welding are also available.

	  </p>  <p class="text-justify">	
Tube Tech offers effortless solutions for your tube bends &amp; pipe bends product needs. Our team’s metal pipe bending know-how in working with all types of materials such as copper, brass, cupro nickel, stainless steel &amp; carbon steel and in many shapes and sizes such as round, oval, rectangle and square pipe and tube, enables us to give you exactly what you expect for your custom pipe and tube bending needs.
	  </p>

  <div class="jumbotron">
	 <h4> Product Details</h4>
	  
  	<ul class="ml-0 pl-3 mb-0">
 <li><strong>Tube Sizes:</strong> - 3/8” diameter to 3” diameter with wall thickness 0.8 mm and above	</li>
 <li><strong>Bending Radius :</strong> - 1.5 X Tube Diameter and above	</li>
	<li><strong>Length :</strong> As per Customer’s requirement.</li>
 <li><strong>Bend Angle & Orientation :</strong>  As required by Customer</li>

  </ul>
	  
  </div>	
	   
	  <p class="text-justify">	
 	Our product range includes <strong>Copper Pipe Assembly, Serpentine bends, Copper System Tubings, Copper Headers</strong> and <strong>Connections, L Bends, C Bends, U Bends,</strong> for Air Conditioning applications, Heating, Automobiles, Gas lines and general engineering purposes.

  </p>   
	   
	   
</div></div></div>