<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12 ">
        <h1>Forged Flanges : Geometry</h1>
        
        </div>   
            </div>


</div>	
        
 </div>
    
    
<div class="container">
    
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
<li>Bending & Fabrication</li>
    <li>Forged Flanges</li>
<li>Forged Flanges : Geometry</li>


</ul>


        
</div>	
        
 </div> </div>		

</header>

<div class="container">
<div class="row">

   
<div class="col-lg-3">
   <app-submenu></app-submenu>
</div>
   
   
   
<div class="col-lg-9">

  <p class="text-justify">	
      <strong>Weld Neck Flange</strong><br>
      
Welding Neck Cupronickel Flanges OR Copper nickel Flanges are easy to recognize at the long tapered hub, that goes gradually over to the wall thickness from a pipe or fitting. The long tapered hub provides an important reinforcement for use in several applications involving high pressure, sub-zero and / or elevated temperatures. The smooth transition from flange thickness to pipe or fitting wall thickness effected by the taper is extremely beneficial, under conditions of repeated bending, caused by line expansion or other variable forces.
</p>
  
<img class="img-fluid mb-3" src="./assets/images/forged-flange-geometry.png" alt="Weld Neck Flange"/> 

 <p class="text-justify">	  
  
These Cupronickel flanges OR Copper nickel Flanges are bored to match the inside diameter of the mating pipe or fitting so there will be no restriction of product flow. This prevents turbulence at the joint and reduces erosion. They also provide excellent stress distribution through the tapered hub and are easily radiographed for flaw detection.

</p>
  
  
  
  <hr>
  
  
 <p class="text-justify">
     <strong>Socket Weld flange</strong><br>
Socket Weld Cupronickel flanges OR Copper nickel Flanges were initially developed for use on small-size high pressure piping. Their static strength is equal to Slip On flanges, but their fatigue strength 50% greater than double-welded Slip On flanges. The connection with the pipe is done with 1 fillet weld, at the outside of the flange. But before welding, a space must be created between flange or fitting and pipe.


</p>
  
<img class="img-fluid mb-3" src="./assets/images/Finned-Tubes_clip_image001.gif" alt="Weld Neck Flange"/>   
  <div class="clearfix"></div>
<p class=""> 1. Socket Weld flange  &nbsp; 2. Filled weld  &nbsp; 3. Pipe X = Expansion gap</p>

<div class="clearfix"></div>
  
  

  <p class="text-justify">
ASME B31.1 1998 127.3 Preparation for Welding (E) Socket Weld Assembly says:<br>
In assembly of the joint before welding, the pipe or tube shall be inserted into the socket to the maximum depth and then withdrawn approximately 1/16" (1.6 mm) away from contact between the end of the pipe and the shoulder of the socket. The purpose for the bottoming clearance in a Socket Weld is usually to reduce the residual stress at the root of the weld that could occur during solidification of the weld metal. The image shows you the X measure for the expansion gap.


</p>
  
  
  <hr>  
  
     <p class="text-justify">
     <strong>Lap Joint flange</strong><br>  

Lap Joint Cupronickel Flanges OR Copper nickel Flanges have all the same common dimensions as any other flange however it does not have a raised face, they are used in conjunction with a "Lap Joint Stub End". These flanges are nearly identical to a Slip On flange with the exception of a radius at the intersection of the flange face and the bore to accommodate the flanged portion of the Stub End.

</p>
 <p class="text-justify">  
Their pressure-holding ability is little, if any, better than that of Slip On flanges and the fatigue life for the assembly is only one tenth that of Welding Neck flanges. They may be used at all pressures and are available in a full size range. These flanges slip over the pipe, and are not welded or otherwise fastened to it. Bolting pressure is transmitted to the gasket by the pressure of the flange against the back of the pipe lap (Stub End).

</p>  
  
  
<img class="img-fluid mb-3" src="./assets/images/Finned-Tubes_clip_image003.gif" alt="Finned-Tubes_clip_image001"/>   
<div class="clearfix"></div>
<p class=""> 1. Lap Joint flange  &nbsp; 2. Stub End  &nbsp; 3. Butt weld &nbsp; 4. Pipe or Fitting</p>
  
  
  <hr>  
  
  
  
  
      
  
   <p class="text-justify">
<strong>Threaded Flange

</strong><br>  

Threaded Cupronickel Flanges OR Copper nickel Flanges are used for special circumstances with their main advantage being that they can be attached to the pipe without welding. Sometimes a seal weld is also used in conjunction with the threaded connection. A threaded flange is not suitable for a pipe system with thin wall thickness, because cutting thread on a pipe is not possible. Thus, thicker wall thickness must be chosen for such type of Cupro Nickel Flange.

</p>
  
<img class="img-fluid mb-3" src="./assets/images/Finned-Tubes_clip_image001_0000.gif" alt="Finned-Tubes_clip_image001"/>   
 <div class="clearfix"></div>
  <p>1. Threaded flange &nbsp; 2. Thread &nbsp; 3. Pipe or Fitting</p>	  

       <hr>   
  
  
  
   
   <p class="text-justify">
<strong>Blind Flange


</strong><br>  

Blind Cupronickel Flanges OR Blind Copper nickel Flanges are manufactured without a bore and used to blank off the ends of piping, Valves and pressure vessel openings. From the standpoint of internal pressure and bolt loading, blind flanges, particularly in the larger sizes, are the most highly stressed flange types.

</p>
  
<p class="text-justify">	  
However, most of these stresses are bending types near the center, and since there is no standard inside diameter, these Cupronickel flanges OR Copper nickel Flanges are suitable for higher pressure temperature applications.

</p>	
  
  
  
  
<img class="img-fluid mb-3" src="./assets/images/Finned-Tubes_clip_image001_0001.gif" alt="Finned-Tubes_clip_image001"/>   
 <div class="clearfix"></div>
  <p>1. Blind flange &nbsp; 2. Stud Bolt &nbsp; 3. Gasket &nbsp; 4. Other flange</p>	  




  
  
       <hr>   
  
  
  
  
  
  
  
  
   
</div></div></div>