
	
<header>

    <div class="inner_banner">
        <div class="container d-flex h-100">
    <div class="row align-self-center">
        <div class="col-lg-12">
            <h1>Brass Tubes</h1>
        </div>   
            </div>

    
</div>	
        
 </div>
    
          <div class="container">
<div class="row">
   
<div class="col-lg-12">

<ul class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
<li>Smooth Tubes</li>
  <li>Brass Tubes</li>


</ul>


        
</div>	
        
 </div> </div>	
</header>

  <div class="container">
<div class="row">

   
<div class="col-lg-3">
<app-brasstubes-submenu></app-brasstubes-submenu>
 
</div>
   
   
   
<div class="col-lg-9">
   
  <div class="row">
  
      <div class="col-lg-8">
      
      <img class="img-fluid rounded mb-3 img-thumbnail" src="./assets/images/Brass-tubes.jpg"  alt="thumb"/> 
      
      </div>
      
      
      <div class="col-lg-6 align-self-center text-justify"> </div>
        


        
      

  </div>
  
  <p class="text-justify">
Brass is an alloy of copper with main alloying element as Zinc. Strength, hardness, ductility, good corrosion resistance, machinability, formability and conductivity are the main characteristics of the brass tubes coupled with toughness retained above and below ambient temperature, good spark resistance and low magnetic permeability.






</p>

  
  
      <h4 class="mt-3">Standards</h4>
  
  

      <div class="table-responsive">
  
<table class="table table-bordered">

<tr>
<th rowspan="2" valign="bottom" class="jumbotron">Brass Tubes 70/ 30	
</th>
  
<td><b>Standard</b></td>
<td>BS2871part3</td>
<td>ASTM B-135</td>
<td>IS407</td>
<td>JIS H 3300</td>
  <td>IS 1545</td>
</tr>
 
<tr>
  
<td><b>Symbol</b></td>
<td>CZ126</td>
<td>C26000</td>
<td>CuZn30As</td>
<td>C 2600</td>
   <td>CuZn30As</td>
</tr>
 
 
<tr>
<th rowspan="2"  class="jumbotron">Brass Tubes  63/ 37



</th>
  
<td><b>Standard</b></td>
<td>ASTM B- 135</td>
<td>DIN 17671</td>
<td>IS 407</td>
<td>JIS H 3300</td>
 <td>JIS H 3300</td>
 </tr>
 
 
<tr>
  
 <td><b>Symbol</b></td>
  
<td>C 27200</td>
<td>CuZn37</td>
<td>CuZn37</td>
<td>C2700 (65/35)</td>
<td>C2800 (60/40)</td>
 

</tr>	 
 
 
 
 
 
 

<tr>
<th rowspan="2"  class="jumbotron">Admirality Brass Tubes

</th>
  
<td><b>Standard</b></td>
<td>BS2871 Part3</td>
  <td>ASTM B 111</td>
<td>IS 1545</td>
<td>JIS H 3300</td>
<td>DIN 1785</td>
     

</tr>
 
 
<tr>
  
<td><b>Symbol</b></td>
<td>CZ 111</td>
<td>C 44300</td>
<td>CuZn29Sn1As</td>
<td>C 4430</td>
<td>CuZn29Sa1</td>

</tr>	 	 
 
 
 
 
 
  

<tr>
<th rowspan="2"  class="jumbotron">Aluminium Brass Tubes



</th>
  
<td><b>Standard</b></td>
<td>BS2871 Part3</td>
  <td>ASTM B 111</td>
<td>IS 1545</td>
  <td>JIS H 3300</td>
<td>DIN 1785</td>
 
 </tr>
 
 
<tr>
  
  <td><b>Symbol</b></td>
  
<td>CZ 110</td>
<td>C 68700</td>
<td>CuZn21Al2As</td>
<td>C 6870</td>
 <td>CuZn20Al1</td>

</tr>	 	 
 

 
 
 
 
 
 
 
 
 
</table>  
  
  </div>  
  
  
  <div class="jumbotron">
 <h4> Dimensional Range</h4>
  
  <ol class=" mb-0">
<li><strong>Outer Diameter</strong> - 4.00 mm to 54.00 mm	</li>
<li><strong>Wall Thickness</strong> - 0.15 mm and above	</li>
<li>Length up to 10 mtrs</li>
<li> Bigger sizes & standards are available</li>
<li>Available in a variety of tempers as per the requirements.</li>


  </ol>
  

   
  
  
</div>  
  
  
  
<p class="text-justify"><strong>End Applications</strong><br>
Heat Exchangers, radiator, generator, decorative furniture etc.</p>  

<hr>

<p class="text-justify"><strong>Brass Tubes for Radiators</strong><br>
Tube Tech produces a vast range of brass tubes in a complete range of outer diameter, wall thickness combinations and generally in quarter hard temper for the radiator industry. These tubes can easily be flanged and expanded using the proper tools. These tubes are fabricated to meet the most efficient thermal performance for the most challenging situations.
  </p>  
  <hr>
  
    <p class="text-justify"><strong>Brass Tubes for Heat Exchangers</strong><br>
Tube Tech produces brass tubes which have very good cold forming properties especially for flaring and deep drawing which makes them suitable for the exacting requirements of heat exchangers, distiller equipments and oil coolers. These tubes are able to cope with a wide variety of operating conditions. These tubes are generally supplied in quarter hard tempers and in straight length.
  </p>  
  <hr>

      <p class="text-justify"><strong>Brass Tubes for Automobile Industry</strong><br>
Brass tubes manufactured by Tube Tech have found wide acceptance in the automobile industry because of their high dimensional accuracy, excellent surface finish and controlled properties. These tubes are excellent for flaring, plating and coupled with good spark resistance and low magnetic permeability.
  </p>  

  <hr>

 <p class="text-justify"><strong>Brass Tubes for General Engineering Purposes</strong><br>
Tube Tech produces a complete range of brass tubes complying to the given standards for general engineering purposes. These tubes are excellent for flaring, drawability and plating. A range of outer diameter, wall thickness and tempers are available to suit the intended application. These tubes are characterized by high dimensional accuracy and excellent surface finish.
  </p>  

  <hr>

  <p class="text-justify"><strong>Brass Tubes for Oil Cooler Applications</strong><br>
Brass tubes manufactured by Tube Tech are widely used to fabricate Oil Coolers. These tubes have excellent cold forming properties, good corrosion resistance, strength and hardness which makes it the ideal choice for the user. These tubes are produced in a variety of outer diameter, wall thickness and temper conditions to suit the application.
  </p>  

  <hr>
  <p class="text-justify">    <strong>Brass Tubes For Agriculture Equipments</strong><br>
Tube Tech offers superior quality brass tubes for various applications in the field of agriculture. We provide optimized solutions for all areas of irrigation applications, where these tubes can be used. All our manufactured tubes exhibit aesthetic qualities, longer life and higher functionality. We offer a wide range of brass tubes in various sizes, shapes, profiles and tempers depending on the customer’s requirements. Brass Tubes manufactured by Tube Tech are capable of withstanding all kind of weather conditions, they are versatile in nature, corrosion resistant, wear and tear resistant, exhibit high thermal conductivity & easy to join and install.
  </p>  
  
  
  
<p  class="text-justify">
The Brass Tubes can be supplied with metal coating on it to facilitate enhanced functionality, as metal coating makes it more corrosion & heat resistant.
</p>	  

<hr>
<p class="text-justify"><strong>Brass Tubes For Furnitures & Lightening Fixtures</strong><br>
We manufacture a wide variety of sizes, shapes and profile tubes for use in Furnitures and lightening fixture applications. Some of the important attributes & characteristics of brass tubes that are of prime importance in these industries are flexibility (particularly in confined spaces), resistance to corrosion, easy joining and its availability in long lengths. These Brass tubes are generally supplied in straight lengths but can also be supplied in bend form depending upon the requirement

  </p>  

  <hr>
  
  
  
      <p class="text-justify"><strong>Brass Tubes For Sanitary Fittings & Accessories

</strong><br>
Tube Tech produces a wide range of brass tubes for a variety of applications in sanitary fitting industry & Plumbing applications. Available in various sizes, dimensions and specifications and tempers our tubes have been specifically designed as per the exact industry standards and guidelines. Our brass tubes unite the most essential properties & characteristics that makes them an obvious choice. Main features of these Brass Tubes produced by us are :- superior corrosion resistance, high resistance against heat, low reactivity level with fluids etc. Moreover, easy malleability and simple connection techniques, enable us in offering high flexibility for modern installation designs that are required in this industry. The tubes that we offer are easy to bent and provide ease of manipulation and the relatively light weight, long lasting, durable & cost effective in nature.
  </p>  
  


      <p class="text-justify">
We also offer customization by incorporating various customer specific properties, which allow our clients to fulfill their requirements with precision in plumbing industry.

  </p>  
  <hr>
  
      <p class="text-justify"><strong>Arsenic Brass Tubes For Sugar Industries</strong><br>
Tube Tech manufactures a wide range of Arsenic Brass Tubes for a variety of applications in the sugar industry. We produce Arsenic Brass Tubes in a variety of sizes, shapes, dimensions, specifications, tempers etc. our products have been designed as per the exact industry standards and are renowned for hassle free functioning. Our Arsenic Brass Tubes possess the most essential properties & characteristics which includes:- corrosion resistance, excellent protection against the influences of weathering and optimal compatibility with many other materials, which is required by the sugar industry. These Arsenic Brass tubes are easy to bent and provide high resistance against heat. These Arsenic Brass Tubes are relatively light weight, long lasting, easy to install & cost effective in nature. 

  </p>  
        
  
  
  
  

  
  
</div>
   
   
   
   
   
   
</div>
</div>
